.mail-subscripe {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 32%;
    margin: auto;
    transform: translateY(93px);
    background-color: rgba(181, 33, 34, .86);
    position: unset;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 10px #5f6796;
    border-radius: 7px;
    box-shadow: 1px 1px 5px #000;
    .subscription-overlay {
        width: 100%;
        height: 200px;
        background-color: rgb(181 33 34 / 86%);
        padding: 4% 4%;
        .input-group {
            transform: translateX(-20px);
        }
        .input-group-prepend {
            z-index: 20;
            .btn {
                transform: translateX(100%);
            }
        }
        @include smallScreen() {
            padding: 12% 4%;
        }
    }
    @include mediumScreen() {
        width: 100%;
        position: relative;
    }
    @include smallScreen() {
        width: 100%;
    }
}

.footer-page {
    .footer {
        max-width: 100%;
        background: get-color(primary-light-gradient);
        color: get-color(light);
        text-align: center;
        text-shadow: 1px 1px 10px get-color(primary);
        @include mediumScreen() {
            padding-bottom: 50px;
        }
        .container {
            max-width: 80%;
        }
        &_section-1 {
            padding: 20px 10px 0;
            p {
                font-weight: 700;
            }
            @media (max-width: 677px) {
                padding: 10px 10px 0;
            }
            &_form {
                .btn {
                    @include xLargeScreen() {
                        font-size: 0.8rem;
                    }
                }
            }
            &_text {
                margin-bottom: 30px;
                font-weight: 700;
                @media (max-width: 677px) {
                    margin-bottom: 0px;
                }
                color: get-color(light);
                font-size: 20px;
                @media (max-width: 1492px) {
                    font-size: 15px;
                }
            }
            input {
                text-align: right;
            }
            &_icons {
                margin-bottom: 30px;
                @media (max-width: 677px) {
                    margin-bottom: 0px;
                }
                a {
                    color: get-color(light);
                    font-size: 20px;
                    margin: 0 5px;
                    i {
                        transition: .2s;
                        &:hover {
                            color: get-color(secondary);
                            transform: scale(1.1);
                            transition: .2s;
                        }
                    }
                }
            }
        }
        &_section-2 {
            padding: 20px 10px 0;
            @media (max-width: 677px) {
                padding: 0px 10px 0;
            }
            &_text {
                div {
                    margin: auto;
                    width: fit-content;
                    p {
                        margin-bottom: 10px;
                        @media (max-width: 677px) {
                            margin-bottom: 2px;
                        }
                        font-size: 1.3em;
                    }
                    a {
                        margin-top: 30px;
                        font-size: 30px;
                        font-weight: 600;
                    }
                }
            }
            &_btn {
                text-align: center;
                max-width: 50%;
                margin: 0 auto;
                margin-top: 10px;
                .btn {
                    font-size: 2em;
                }
            }
        }
        &_section-3 {
            padding: 20px 10px;
            @media (max-width: 677px) {
                padding: 20px 10px 10px;
            }
            &_img {
                text-align: center;
                margin: 0 auto;
                margin-bottom: 10px;
                width: 150px;
            }
            &_app-img {
                a {
                    padding: 0 2px;
                    img {
                        border: 0px solid get-color(light);
                        border-radius: 10px;
                        width: 100%;
                    }
                }
            }
            &_text {
                color: get-color(white);
            }
        }
        &_section-4 {
            padding: 0 0 10px;
            font-size: 16px;
        }
    }
}

#character {
    width: 150px;
    height: 170px;
    position: fixed;
    right: 1%;
    bottom: 27px;
    overflow: hidden;
    cursor: pointer;
    z-index: 9999;
}