.container-90 {
    width: 90%;
    margin: auto;
}

.abs {
    position: absolute;
}

.log-in {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1000;
    display: none;
    &_top {
        position: relative;
        width: 100%;
        i {
            position: absolute;
            top: -15px;
            right: 45px;
            font-size: 70px;
            font-style: normal;
            transform: rotate(45deg);
            font-weight: 200;
            color: #fff;
            cursor: pointer;
        }
        a {
            width: fit-content;
            img {
                width: 120px;
                @include location(0%, 10%);
                top: 10px;
                @media (max-width: 414px) {
                    width: 70px;
                }
            }
        }
    }
    &_center {
        @include location(50%, 50%);
        max-width: 478px;
        width: 100%;
        @media (max-width: 475px) {
            @include location(63%, 50%);
        }
        &_form {
            width: 100%;
            text-align: right;
            font-style: normal;
            border: 1px solid #e3e3e3;
            padding: 48px;
            border-radius: 12px;
            // background-color: #f7f7f7;
            background-color: #eaeaea;
            @media (max-width: 475px) {
                border-radius: 0px;
                padding: 8px 40px;
            }
            @media (max-width: 450px) {
                padding: 8px 20px;
            }
            h2 {
                margin-bottom: 45px;
                text-align: center;
            }
            div {
                width: 100%;
                margin-bottom: 40px;
                label {
                    width: 100%;
                    font-weight: 600;
                    font-size: 16px;
                    @media (max-width: 350px) {
                        font-size: 14px;
                        span {
                            font-size: 12px;
                        }
                    }
                    span {
                        float: left;
                        font-size: 16px;
                        a {
                            cursor: pointer;
                            max-width: 100%;
                            width: fit-content;
                            font-weight: 600;
                            font-size: 18px;
                            margin: 30px auto auto;
                            color: #1b21e2 !important;
                            cursor: pointer;
                            &:hover {
                                color: #f7000b !important;
                            }
                        }
                    }
                }
                input {
                    width: 100%;
                    height: 48px;
                }
            }
            &_password {
                label {
                    span {
                        cursor: pointer;
                        user-select: none;
                    }
                }
            }
            button {
                width: 100%;
                height: 50px;
                border-radius: 30px;
            }
            &_forgot-password {
                display: block;
                max-width: 100%;
                width: fit-content;
                font-weight: 600;
                font-size: 18px;
                margin: 30px auto auto;
                color: #1b21e2;
                cursor: pointer;
                &:hover {
                    color: #f7000b;
                }
            }
            &_old-user {
                display: block;
                max-width: 100%;
                height: 50px;
                width: 100%;
                text-align: center;
                font-weight: 600;
                padding: 10px 20px;
                font-size: 16px;
                margin: 20px auto auto;
                color: #fff;
                cursor: pointer;
                border-radius: 30px;
                &:hover {
                    color: #55a955;
                    border: 2px solid #55a955;
                }
                &:before {
                    background: #55a955!important;
                }
            }
        }
        .forgot-password {
            position: relative;
            overflow: hidden;
            border-radius: 12px;
            form {
                display: none;
                h2 {
                    text-align: center;
                    font-size: 26px;
                    @media (max-width: 414px) {
                        text-align: center;
                        font-size: 18px;
                    }
                    margin: -15px 0 25px;
                }
                p {
                    text-align: center;
                }
            }
            &_step-1 {
                h2 {
                    margin: -10px 0 15px !important;
                }
                p {
                    margin-bottom: 25px;
                    font-size: 15px;
                }
            }
            &_step-2 {
                h2 {
                    margin: -10px 0 15px !important;
                }
                input {
                    -moz-appearance: textfield;
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                    }
                }
                p {
                    color: #333;
                    text-align: center;
                    font-size: 17px;
                    font-weight: 700;
                    margin: 7px 0 15px;
                    text-align: center;
                }
            }
            button {
                margin-bottom: 30px;
            }
            .forgotPasswordRetreat {
                padding: 10px 0;
                border-radius: 30px;
            }
        }
        .old-user {
            position: relative;
            overflow: hidden;
            border-radius: 12px;
            form {
                display: none;
                h2 {
                    text-align: center;
                    font-size: 26px;
                    @media (max-width: 414px) {
                        text-align: center;
                        font-size: 18px;
                    }
                    margin: -15px 0 25px;
                }
                p {
                    text-align: center;
                }
                .registerMobileNumber {
                    direction: ltr;
                    position: relative;
                    input {
                        text-align: left;
                        padding-left: 4.25rem;
                        direction: ltr;
                        font-size: 1.1rem;
                    }
                }
                .registerMobileNumber::after {
                    content: "+966";
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: 32px;
                    left: 0;
                    width: 4rem;
                    height: 48px;
                    border-right: 1px solid #ced4da;
                }
                .registerMobileNumber.error::after {
                    border-right: 1px solid #dc3545;
                }
                .number {
                    input {
                        -moz-appearance: textfield;
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                        }
                    }
                }
                .btn-old-user {
                    margin-bottom: 30px;
                }
                .btn-old-user-close {
                    padding: 10px 0;
                    border-radius: 30px;
                }
            }
            &_step-1 {
                h2 {
                    margin: -10px 0 15px!important;
                }
                p {
                    margin-bottom: 25px;
                    font-size: 15px;
                }
            }
            &_step-2 {
                h2 {
                    margin: -10px 0 15px !important;
                }
                input {
                    -moz-appearance: textfield;
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                    }
                }
                p {
                    color: #333;
                    text-align: right;
                    font-size: 30px;
                    font-weight: 700;
                    margin: 7px 0 15px;
                    text-align: center;
                    direction: ltr;
                    color: red;
                }
            }
            &_step-3 {
                h2 {
                    text-align: center !important;
                    margin: -15px 0 5px !important;
                }
                h5 {
                    margin-bottom: 25px;
                    text-align: center;
                }
            }
        }
    }
}

.register {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1000;
    display: none;
    &_top {
        position: relative;
        width: 100%;
        height: 150px;
        @media (max-width: 414px) {
            height: 110px;
        }
        i {
            position: absolute;
            top: -15px;
            right: 45px;
            font-size: 70px;
            font-style: normal;
            transform: rotate(45deg);
            font-weight: 200;
            color: #fff;
            cursor: pointer;
            z-index: 10;
        }
        a {
            width: fit-content;
            img {
                width: 120px;
                @include location(0%, 10%);
                top: 10px;
                @media (max-width: 1344px) {
                    left: 4%;
                }
                @media (max-width: 1170px) {
                    left: 2%;
                }
                @media (max-width: 414px) {
                    left: 10%;
                    width: 70px;
                }
            }
        }
    }
    &_center {
        overflow: auto;
        display: flex;
        position: absolute;
        @media (max-width: 858px) {
            position: relative;
        }
        top: 0;
        min-width: 100%;
        width: 100%;
        height: 100%;
        direction: ltr;
        &_form {
            overflow: hidden;
            position: relative;
            margin: auto;
            max-width: 858px;
            width: 100%;
            text-align: right;
            font-style: normal;
            border: 1px solid #e3e3e3;
            // background-color: #f7f7f7;
            background-color: #eaeaea;
            border-radius: 12px;
            @media (max-width: 858px) {
                border-radius: 0px;
            }
            @media (max-width: 475px) {
                padding: 48px 0px;
            }
            h2 {
                width: 100%;
                text-align: center;
                margin-top: 38px;
            }
            &_inputs {
                padding: 48px 48px 0px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                &_input {
                    position: relative;
                    width: 49%;
                    @media (max-width: 600px) {
                        width: 100%;
                    }
                    margin-bottom: 40px;
                    label {
                        width: 100%;
                        font-weight: 600;
                        font-size: 16px;
                        @media (max-width: 350px) {
                            font-size: 14px;
                            span {
                                font-size: 12px;
                            }
                        }
                        span {
                            float: left;
                            font-size: 16px;
                            a {
                                cursor: pointer;
                                max-width: 100%;
                                width: fit-content;
                                font-weight: 600;
                                font-size: 18px;
                                margin: 30px auto auto;
                                color: #000 !important;
                                cursor: pointer;
                                &:hover {
                                    color: #345998 !important;
                                }
                            }
                        }
                    }
                    input {
                        width: 100%;
                        height: 48px;
                    }
                }
                .registerMobileNumber {
                    direction: ltr;
                    input {
                        text-align: left;
                        padding-left: 4.25rem;
                        direction: ltr;
                        font-size: 1.1rem;
                    }
                }
                .registerMobileNumber::after {
                    content: "+966";
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: 32px;
                    left: 0;
                    width: 4rem;
                    height: 48px;
                    border-right: 1px solid #ced4da;
                }
                .registerMobileNumber.error::after {
                    border-right: 1px solid #dc3545;
                }
                &_input:nth-child(1) {
                    width: 100%;
                }
                .password {
                    label {
                        span {
                            cursor: pointer;
                            user-select: none;
                        }
                    }
                }
                .wrapper {
                    position: relative;
                    height: 120px;
                    width: 49.5%;
                    @media (max-width: 445px) {
                        width: 100%;
                    }
                    margin-bottom: 10px;
                    border-radius: 10px;
                    background-color: #f7f7f7;
                    border: 2px dashed #c2cdda;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    overflow: hidden;
                    cursor: pointer;
                    .div-hidden {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: #0000;
                        z-index: 1000;
                    }
                    .image {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            object-fit: cover;
                            position: initial;
                            z-index: 0;
                            width: 100%;
                            height: 100%;
                            display: none;
                        }
                    }
                    .icon {
                        font-size: 50px;
                        color: #345998;
                    }
                    .text {
                        font-size: 16px;
                        font-weight: 500;
                        color: #5B5B7B;
                    }
                    .cancel-btn {
                        position: absolute;
                        right: 15px;
                        top: 5px;
                        font-size: 20px;
                        cursor: pointer;
                        color: #345998;
                        text-shadow: 0px 0px 0px #fff;
                        opacity: 0;
                        display: none;
                    }
                    .file-name {
                        position: absolute;
                        bottom: 0px;
                        width: 100%;
                        color: #fff;
                        padding: 8px 0;
                        font-size: 18px;
                        opacity: 0;
                        background: #345998;
                        display: none;
                    }
                    &:hover {
                        .file-name {
                            opacity: 1;
                        }
                        .cancel-btn {
                            opacity: 1;
                            z-index: 10000;
                        }
                    }
                    .image-projection {
                        content: "";
                        background: #345998;
                        width: 0%;
                        height: 0%;
                        border-radius: 50% 50% 0 0;
                        bottom: 0;
                        position: absolute;
                        margin: 0;
                    }
                    .image-projection.show {
                        width: 100%;
                        height: 100%;
                        border-radius: 0% 0% 0 0;
                        animation: update-profile-show 0.5s;
                    }
                    .image-projection.hide {
                        width: 0%;
                        height: 0%;
                        border-radius: 50% 50% 0 0;
                        animation: update-profile-hide 0.5s;
                    }
                }
                .wrapper.image-projection {
                    border: none;
                    transition: .5s;
                    .content {
                        z-index: 1;
                        .icon {
                            color: #fff;
                            transition: .5s;
                        }
                        .text {
                            color: #fff;
                            transition: .5s;
                        }
                    }
                }
            }
            .row {
                padding: 25px 9%;
                button,
                div {
                    max-width: 300px;
                    width: 100%;
                    height: 50px;
                    border-radius: 30px;
                    margin: 20px auto;
                }
            }
            &_forgot-password {
                display: block;
                max-width: 100%;
                width: fit-content;
                font-weight: 600;
                font-size: 13px;
                margin: auto;
                margin-top: 30px;
                color: #000;
                &:hover {
                    color: #345998;
                }
            }
        }
    }
}