/*==========
    Navbar Of Project
==========*/

.main-navbar {
    z-index: 400;
    position: fixed;
    // position: absolute;
    // background-image: get-color(primary-light-gradient);
    width: 100%;
    // z-index: 5;
    /* Button used to open the contact form - fixed at the bottom of the page */
    a {
        color: get-color(light);
        &:hover {
            color: get-color(error);
        }
        &.dropdown-item {
            color: get-color(primary);
        }
    }
    .open-button {
        background-color: rgba(85, 85, 85, 0);
        color: white;
        padding: 16px 5px;
        border: none;
        cursor: pointer;
        opacity: 1;
        bottom: 23px;
        right: 28px;
    }
    a:not([href]):not([tabindex]) {
        color: get-color(light);
        &:hover {
            color: get-color(error);
        }
    }
    #hamburger-bars {
        i {
            font-size: 2rem;
        }
    }
    /* The popup form - hidden by default */
    .form-popup {
        position: absolute;
        top: 50px;
        border: 3px solid #f1f1f1;
        z-index: 500;
    }
    /* Add styles to the form container */
    .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: white;
    }
    /* Full-width input fields */
    .form-container input[type=text],
    .form-container input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
    }
    /* When the inputs get focus, do something */
    .form-container input[type=text]:focus,
    .form-container input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }
    /* Set a style for the submit/login button */
    .form-container .btn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
    }
    /* Add a red background color to the cancel button */
    .form-container .cancel {
        background-color: red;
    }
    /* Add some hover effects to buttons */
    .form-container,
    .btn:hover {
        opacity: 1;
    }
    .open-button:hover {
        color: #0056b3;
    }
    // &.fixed-navbar {
    //     background: get-color(primary);
    //     position: fixed !important;
    //     animation: fixed-navbar .5s ease-in-out 1 forwards;
    // }
    // &.bg-navbar {
    //     background: get-color(primary);
    //     position: fixed !important;
    // }
    // &__logo {
    //     height: 100%;
    //     display: flex;
    //     align-items: center;
    //     a {
    //         display: inline-block;
    //         color: get-color(light);
    //         @include font( $size: 1.3rem, $weight: bold, $transform: capitalize, $family: 'Sitka Small');
    //         transition: .5s;
    //         img {
    //             height: 50px;
    //             width: 100px;
    //         }
    //     }
    // }
    // &__links {
    //     height: 100%;
    //     &__menu {
    //         display: flex;
    //         align-items: center;
    //         &__item {
    //             @include margin($left: 1.2rem);
    //             padding: .5rem 0;
    //             position: relative;
    //             &:hover {
    //                 &>a {
    //                     color: get-color(secondary);
    //                     transition: .3s;
    //                 }
    //                 &::before {
    //                     transition: .3s;
    //                     color: get-color(secondary) !important;
    //                 }
    //             }
    //             &:not(.contain-menu) {
    //                 display: none;
    //                 @include largeScreen {
    //                     display: block;
    //                 }
    //             }
    //             &.contain-menu {
    //                 @include largeScreen {
    //                     display: none;
    //                 }
    //             }
    //             &.search-link {
    //                 display: block !important;
    //                 transform: scale(1.3);
    //                 @include largeScreen {
    //                     transform: scale(1);
    //                 }
    //             }
    //             &.contain-angle {
    //                 margin: 0 1.6rem;
    //                 &::before {
    //                     @include fontAwesome("\f107", 'solid');
    //                     position: absolute;
    //                     top: 50%;
    //                     #{$end}: -20px;
    //                     transform: translateY(-50%);
    //                     display: flex;
    //                     align-items: center;
    //                     justify-content: flex-end;
    //                     font-size: 13px;
    //                     color: get-color(light);
    //                 }
    //             }
    //             &:not(.remove-hover):hover {
    //                 .nav-dropdown {
    //                     #{$start}: 0%;
    //                     visibility: visible;
    //                     opacity: 1;
    //                     transition: .5s;
    //                 }
    //             }
    //             &__link {
    //                 color: get-color(light);
    //                 @include font( $family: 'Sitka Small', $transform: capitalize, $size: 1rem, );
    //                 transition: .5s;
    //                 svg {
    //                     @include font( $size: 1rem);
    //                 }
    //                 i {
    //                     @include font( $size: 1rem);
    //                 }
    //                 ;
    //             }
    //             .sidebar-collapse,
    //             .nav-collapse {
    //                 width: 35px;
    //                 height: 35px;
    //                 display: flex;
    //                 flex-direction: column;
    //                 border-radius: 50%;
    //                 justify-content: space-between;
    //                 background: get-color(light);
    //                 cursor: pointer;
    //                 padding: 6px;
    //                 span {
    //                     display: block;
    //                     width: 100%;
    //                     height: 3px;
    //                     background: #C0409C;
    //                     margin: 2px 0;
    //                     transition: .5s;
    //                     &:nth-of-type(2) {
    //                         width: 60%;
    //                         // @include margin($left: auto);
    //                     }
    //                 }
    //                 &:hover {
    //                     span {
    //                         width: 60%;
    //                         transition: .5s;
    //                         &:nth-of-type(2) {
    //                             transition: .5s;
    //                             width: 100%;
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
    @include mediumScreen {
        display: none;
    }
    img {
        width: 120px;
        position: absolute;
        z-index: 2000;
        left: 50px;
        top: -150px;
    }
}

.small-screen-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-image: linear-gradient( 91deg, #0d157b 15%, #0095ff 121%);
    color: get-color(light);
    font-size: 16px;
    a {
        color: get-color(light);
        cursor: pointer;
    }
    i {
        cursor: pointer;
    }
    #hamburger-bars2 {
        font-size: 1.5rem;
    }
}

#menu {
    position: fixed;
    top: 60px;
    left: 0%;
    width: 100%;
    z-index: 100;
    background-color: white;
    padding: 30px 0;
    .col-6 {
        background-color: white;
        height: 10vw;
        @include mediumScreen {
            height: 20vh;
        }
        a {
            color: get-color(light);
            font-size: 20px;
            font-weight: 600;
            font-size: 22px;
            background-color: get-color(primary);
            border-radius: 5px;
            flex-direction: column;
            text-align: center;
            width: 80%;
            height: 80%;
            padding: 0 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 2px 2px 10px get-color(primary);
            &:hover {
                background-color: get-color(secondary);
                color: get-color(light);
            }
        }
    }
    @include mediumScreen {
        position: fixed;
        left: 0;
        bottom: 50px;
    }
}


/*==========
    Navbar hidden menu
==========*/

.hidden-menu {
    position: fixed;
    top: 0;
    #{$end}: -100%;
    bottom: 0;
    background: get-color(primary);
    z-index: 8;
    width: 100%;
    height: 100%;
    padding: .5rem 0;
    transition: .5s;
    &.show-sidebar {
        #{$end}: 0%;
        transition: .5s;
    }
    &__close {
        padding: 1rem 1rem .5rem 1rem;
        color: get-color(light);
    }
    ul {
        li {
            padding: .5rem;
            a {
                position: relative;
                display: inline-block;
                color: get-color(light);
                @include font( $size: 1rem, $transform: capitalize, );
                &::before {
                    @include fontAwesome("\f107", 'solid');
                    position: absolute;
                    top: 50%;
                    #{$end}: -20px;
                    transform: translateY(-50%);
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    font-size: 13px;
                    color: get-color(light);
                }
            }
            .hide-dropdown {
                @include padding($left: 2rem);
                a {
                    color: get-color(light);
                }
            }
        }
    }
}
