/* ------------- START H2 ------------- */

@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
#step1 input[type='checkbox'] {
    width: 30px;
    height: 30px;
    top: 20px;
}

body {
    font-family: 'Cairo', sans-serif !important;
    background: url('../../img/BackgroundH2.jpg') fixed !important;
    overflow-x: hidden;
}

#step1 .booking-dropoff-info {
    width: 48% !important;
}

#step1 .booking-car-price-container {
    background: #002366 !important;
}

#step1 .booking-car-price-now {
    color: white !important;
}

#step1 .bodycontainer {
    width: 100%;
    overflow: hidden;
}

#step1 button {
    background: #002366 !important;
    color: white !important;
}

#step1 button a {
    color: white !important;
}

#step1 .orange-checkbox input[type=checkbox]:checked+label {
    background: #002366 !important;
}

#step1 .details {
    width: 100% !important;
}

#step1 .clear {
    float: none;
}

#step1 .fa-info-circle {
    font-size: 2em;
    padding-top: 2vh;
    transform: translateX(-5vw);
    color: red;
}

#step1 .fa-info-circle:hover {
    color: rgb(68, 1, 1);
}

#step1 .booking-content {
    margin: auto;
}

#step1 .ddee {
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.568);
    text-align: center;
    top: 0;
    right: 0;
    display: none;
}

#step1 .ddee-con1 {
    background-color: white;
    color: black;
    display: none;
    text-align: center;
    padding: 10px;
    margin: 80px auto;
    border-bottom: silver solid 1px;
    border-top: silver solid 1px;
}

#step1 .ddee-con1 ul {
    text-align: right;
    padding: 20px;
    font-size: 15px;
}

#step1 .ddee-con1 ul li {
    padding-right: 5px;
}

#step1 .no {
    background-color: #002366 !important;
    color: white !important;
    text-decoration: none !important;
    text-align: center !important;
    height: 40px !important;
    width: 100px !important;
    font-size: 20px;
    outline: none;
    border: none;
    margin: 0 5px;
}

#step1 .agr {
    background-color: #002366 !important;
    color: white !important;
    text-decoration: none !important;
    text-align: center !important;
    height: 40px !important;
    width: 100px !important;
    font-size: 20px;
    outline: none;
    border: none;
    margin: 0 5px;
}

#step1 .hhh1 {
    display: block;
    margin: auto;
    text-align: center;
}

#step1 .mela {
    background-color: none;
    font-size: 15px;
    color: #002366;
}

#step1 .min {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: 50% 25% 20%;
    justify-items: right;
    border-bottom: solid 1px white;
    border-top: solid 1px white;
    position: relative;
}

#step1 .img {
    display: inline-block;
}

#step1 .img>img {
    height: 50px;
    width: 70px;
}

#step1 .img>h1 {
    font-size: 21px;
}

#step1 .img>p {
    margin: 10px 5px;
    font-size: 18px;
    color: gray;
}

#step1 .img img,
#step1 h1 {
    display: inline-block;
    margin: auto;
}

#step1 .price {
    height: 100%;
    width: 100%;
    font-size: 20px;
    margin-right: 0%;
    text-align: center;
    padding: 20px 0;
}

#step1 .price h2 {
    font-size: 25px;
    display: inline-block;
}

#step1 .price h2 i {
    color: #000;
    font-size: 30px;
}

#step1 .form-switch a {
    display: block;
}

#step1 .form-switch .form-check-input {
    height: 30px;
    width: 60px;
    display: block;
    visibility: visible;
    margin: 0;
    margin-top: 20px;
}

#step1 .form-switch .form-check-input:focus {
    outline: none;
    border: none;
}

#step1 .check {
    text-align: right;
    height: 100%;
    width: 100%;
}

#step1 .agree {
    background: linear-gradient( 90deg, rgb(1 0 60 / 76%) 0%, #001838 0%, #0081eb 103%) !important;
    border-radius: 15px;
    width: 100px;
    height: 30px;
}

#step1 .cancel {
    background: linear-gradient( 90deg, rgb(1 0 60 / 76%) 0%, #3d0101 0%, #e20505 103%) !important;
    border-radius: 15px;
    text-align: center;
    align-self: center;
    height: 30px;
    width: 100px;
    color: #fff;
}

#step1 .cancel:hover {
    background-color: transparent;
    color: black;
}

#step1 .hide {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.445);
    display: none;
    z-index: 100000000000;
}

#step1 .hn h3 {
    color: #fff;
}

#step1 .info div p,
#step1 .min h1,
#step1 .min h2 {
    color: #000;
}

#step1 .det {
    background-color: white;
    padding: 20px;
    width: 40%;
    margin: 10px auto;
    border-radius: 10px;
    transition: .5s;
}

#step1 .det h2 {
    font-size: 25px;
    padding: 10px;
    text-align: center;
    border-bottom: solid 1px rgb(221, 221, 221);
}

#step1 .det ul {
    padding: 15px;
    text-align: right;
    font-size: 15px;
}

#step1 .det ul li {
    word-wrap: break-word;
}

#step1 .btns {
    text-align: center;
    padding: 10px;
}

#step1 .det button,
#step1 .det label {
    margin: 10px 40px;
    border: none;
    outline: none;
    color: white;
    background-color: #002366;
    padding: 10px 30px;
}

#step1 .check1:checked~.hide1 {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.445);
    display: none;
    z-index: 100000000000;
    display: block !important;
}

#step1 .check2:checked~.hide2 {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.445);
    display: none;
    z-index: 100000000000;
    display: block !important;
}

#step1 .check3:checked~.hide3 {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.445);
    display: none;
    z-index: 100000000000;
    display: block !important;
}

#step1 .check4:checked~.hide4 {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.445);
    display: none;
    z-index: 100000000000;
    display: block !important;
}

#step1 .check5:checked~.hide5 {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.445);
    display: none;
    z-index: 100000000000;
    display: block !important;
}

#step1 .check6:checked~.hide6 {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.445);
    display: none;
    z-index: 100000000000;
    display: block !important;
}

#step1 .check7:checked~.hide7 {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.445);
    display: none;
    z-index: 100000000000;
    display: block !important;
}

#step1 .hhii {
    position: absolute;
}

#step1 #hhii1:checked~.hide1 {
    display: none !important;
}

#step1 #hhii2:checked~.hide2 {
    display: none !important;
}

#step1 #hhii3:checked~.hide3 {
    display: none !important;
}

#step1 #hhii4:checked~.hide4 {
    display: none !important;
}

#step1 #hhii5:checked~.hide5 {
    display: none !important;
}

#step1 #hhii6:checked~.hide6 {
    display: none !important;
}

#step1 #hhii7:checked~.hide7 {
    display: none !important;
}

#step1 .go-btn {
    background-color: white;
    text-align: center;
    padding: 20px 0;
}

#step1 .go-btn a {
    background-color: #002366 !important;
    color: white !important;
    text-decoration: none !important;
    text-align: center !important;
    font-size: 20px;
    outline: none;
    border: none;
    margin: 0 50px;
    padding: 5px 20px;
}

#step1 .booking-step-indicator {
    height: inherit;
    padding: 10px;
}

#step1 .brdg {
    width: 100% !important;
    position: absolute !important;
    z-index: -100000 !important;
    background: none !important;
    height: 100% !important;
    color: gray;
}

#step1 .spanz {
    background: none;
    width: 100% !important;
    text-align: center;
    padding: 15px;
}

#step1 .spanz span {
    border-radius: 45px;
    border: solid 2px gray;
    background: #002366;
    color: white;
    width: 500px !important;
    margin: 50px 7%;
    padding: 10px 20px;
}

#step1 .hr:empty {
    position: absolute !important;
    margin: auto;
    width: 100%;
    z-index: -1798;
    display: block;
    background: red;
}

#step1 .float-normal {
    float: inherit !important;
}

#step1 .hehed {
    background-color: white;
    margin: 10px 0;
    padding: 10px;
}

#step1 .hide {
    display: none;
}

#step1 .min-boody {
    margin-top: 10px;
    padding: 0;
}

#step1 .moreDetails {
    display: none;
}

#step1 .crcr {
    background: #f7f6f6b0;
    margin: 0;
}

#step1 .crcr img {
    transition: .5s;
    margin: auto;
}

#step1 .crcr img:hover {
    transform: scale(1.05);
}

#step1 .dd {
    width: 100%;
    background-color: #002366;
    color: wheat;
    margin: auto;
    padding: 10px 0;
}

#step1 .dd p {
    font-size: 30px;
    margin: 10px;
    font-weight: bold;
    display: inline-block;
    color: #fff;
}

#step1 .dd p:last-child {
    font-size: 15px;
}

#step1 .fa-chair,
#step1 .fa-shield-alt,
#step1 .fa-user-shield,
#step1 .fa-car,
#step1 .fa-map-marker-alt,
#step1 .fa-home,
#step1 .fa-shipping-fast {
    margin: 10px;
    margin-right: 20px;
    font-size: 2em;
    color: red;
}

#step1 .m-r-n {
    margin-right: 15px;
}

#step1 .min-boody2 {
    margin-top: 5px;
    padding-left: 1px;
    float: left;
    height: 100%
}

#step1 .info {
    margin-top: 5px;
    padding: 10px 0;
    background: rgb(255 255 255 / 80%);
    font-weight: bold;
}

#step1 .momo {
    width: 100%;
    transition: .6s;
}

#step1 .momo>div {
    font-size: 1.2em;
    margin: 0px;
    direction: rtl;
}

#step1 .momo>div>p {
    display: inline-block;
    width: 49%;
}

#step1 .info.pr .icofont.icofont-cur-riyal {
    color: #0d1a80;
}

#step1 .pr h2 {
    text-align: center;
    width: 80%;
    border: 2px #0d1a80 solid;
    color: #0d1a80;
    padding: 10px;
    margin: 10px auto;
    background: #c3c9ff;
    font-size: 50px;
    font-weight: bold;
    border-radius: 10000px
}

#step1 .container {
    background: none;
}

#step1 .contract-additions {
    background-color: rgb(255 255 255 / 80%) !important;
    padding: 0 20px 20px 20px;
    height: 100%;
}

#step1 .hn {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    background: #002366;
    color: #000;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px #002366;
}

#step1 .hn h3 {
    padding: 10px;
    margin: 5px 0;
}

#step1 .momo div p {
    color: #000;
}

#step1 .red,
#step1 .momo div p.red {
    color: #0d1a80;
}

#step1 .AdditionsTitle {
    font-weight: bold;
    color: #002366;
    font-size: 40px;
    display: inline-block;
    border-bottom: solid 3px #002366;
}

#step1 .form-check-input:checked {
    background-color: #002366 !important;
    border-color: #002366 !important;
}

#step1 .form-check-input {
    background-color: #85ade9 !important;
    border-color: #85ade9 !important;
}

#step1 .inp1 {
    margin: 0 !important;
    float: right !important;
}

#step1 .inp2 {
    float: left !important;
    margin: 0 !important;
}

#step1 .YH-a,
#step1 .YH-b {
    margin: 0 !important;
}

#step1 .YH-a {
    position: absolute;
}

#step1 .YH-b {
    left: 15px;
}

#step1 .YH-a {
    right: 15px;
}

#step1 fieldset {
    min-width: fit-content;
}

#step1 .check div ul * {
    color: #002366;
}

#step1 .pro-bar li:nth-child(1)::after {
    height: 0;
}

#step1 .visa_text {
    border-bottom: none;
    font-size: 30px;
    padding: 22px 0px 0;
    color: #002366;
}

#step1 .visa_input {
    padding: 32px 0 0 130px;
}

#step1 .visa {
    height: 10% !important;
    margin-bottom: 5px;
    overflow: hidden;
    background-color: #ffd34e !important;
    border: 4px solid #ffffff;
    border-radius: 20px;
}

#step1 #visa_input input {
    margin: 33px;
}

#step1 .min.min-r {
    display: block;
}

@media (max-width:1276px) {
    #step1 .YH-p {
        font-size: 15px;
    }
    @media (max-width:1100px) {
        #step1 .YH-p {
            font-size: 11px;
        }
        #step1 .min h1 {
            font-size: 20px
        }
        #step1 .min p {
            font-size: 18px
        }
        #step1 .price {
            text-align: center;
        }
        #step1 .price h2 {
            font-size: 16px !important;
        }
        #step1 .form-switch .form-check-input {
            height: 23px;
            width: 52px;
        }
        #step1 .momo>div {
            font-size: 11px;
        }
        #step1 .pr h2 {
            font-size: 30px;
        }
        @media (max-width:799px) {
            #step1 .pro-bar li {
                font-size: 15px;
            }
            @media (max-width:767px) {
                #step1 .min-boody2 {
                    padding-right: 0px;
                }
                #step1 .fa-info-circle {
                    float: left;
                }
                #step1 .pro-bar li {
                    font-size: 13px;
                }
                #step1 .momo>div {
                    font-size: 16px;
                }
                #step1 .YH-p {
                    font-size: 16px;
                }
            }
            @media (max-width:656px) {
                #step1 .pro-bar li {
                    font-size: 11px;
                }
                @media (max-width: 600px) {
                    p {
                        font-size: 16px;
                    }
                    @media (max-width:561px) {
                        #step1 .pro-bar li {
                            font-size: 8px;
                        }
                        @media (max-width:414px) {
                            #step1 .visa .col-4,
                            #step1 .visa .col-8 {
                                padding-right: 0;
                                padding-left: 0;
                            }
                            #step1 .visa_text {
                                font-size: 1.8rem;
                                padding: 0;
                                transform: scale(0.9);
                                margin-top: -4px;
                                font-weight: 600;
                            }
                            #step1 #visa_input input {
                                margin: 33px;
                            }
                            #step1 .price h2 {
                                font-size: 20px !important;
                            }
                            #step1 .price h2 i {
                                font-size: 20px;
                            }
                            #step1 .fa-info-circle {
                                font-size: 1.2em;
                                padding-top: 4vh;
                            }
                            .connn {
                                overflow: hidden;
                                width: 100%;
                            }
                            #step1 .min h1 {
                                font-size: 14px;
                            }
                            #step1 .min {
                                grid-template-columns: 50% 25% 25%;
                            }
                            #step1 .check {
                                padding: 0 10px;
                            }
                            .pro-bar li::before {
                                font-size: 30px;
                                width: 45px;
                                padding-top: 5px;
                                height: 45px;
                            }
                            .pro-bar li {
                                font-size: 14px;
                            }
                            .head {
                                width: 97% !important;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* ------------- END H2 ------------- */


/* ------------- START H3 ------------- */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
body {
    background: url('../../img/BackgroundH2.jpg') fixed !important;
}

.H3-TST-D1 * {
    color: #000;
    direction: ltr;
}

.H3-TST-D1 {
    background-color: #fff;
    text-align: right;
    font-family: 'Cairo', sans-serif;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 20%);
}

.H3-TST-D2 {
    float: left;
    padding: 5px 10px;
}

.H3-TST-D2-1 {
    width: 70%;
}

.H3-TST-D2-2 {
    width: 30%;
}

.H3-TST-DI {
    width: 300px;
    height: 200px;
    margin: auto;
}

.H3-TST-DI img {
    width: 100%;
    height: 100%;
}

.H3-TST-D3 {
    margin: 20px 0;
}

.H3-TST-D3 h2 {
    color: #0d1a80;
}

.H3-TST-D3 h2 span {
    color: #777;
    font-size: 15px;
}

.H3-TST-D3 h3 {
    color: #0d1a80;
}

.H3-TST-D3 h4 {
    color: #777;
}

.H3-TST-D3 p {
    color: #777;
}

.H3-TST-D4-1 {
    display: table;
    background-color: #f0f0e1;
    padding: 5px 10px 0;
    margin: 10px 0;
    width: 100%;
}

.H3-TST-D5-1 {
    float: right;
    margin: 0;
    width: 50%;
    font-size: 20px;
    color: #777;
}

.H3-TST-D5-1 input {
    width: 18px;
    height: 18px;
    margin-left: 5px;
}

.H3-TST-D5-1 i {
    color: #fff;
    font-size: 38px;
}

.H3-TST-D5-1 span span {
    padding: 10px;
    top: -4px;
    position: relative;
}

.H3-TST-D4-1-hover:hover .H3-TST-D5-1 i,
.H3-TST-D4-1-hover:hover .H3-TST-D5-1,
.H3-TST-D4-1-hover:hover .H3-TST-D5-1 p {
    color: #0d1a80;
}

.H3-TST-D3-2 .H3-TST-D4-1 {
    background-color: #b8b9b3;
}

.H3-TST-D3-2 .H3-TST-D5-1,
.H3-TST-D3-2 .H3-TST-D5-1 p {
    color: #000;
    direction: rtl;
}

.H3-TST-D5-1 p {
    position: relative;
    font-size: 25px;
}

.H3-TST-D5-1 p span {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}

.H3-TST-D3-2 #additions .H3-TST-D4-1 {
    background: #9dc6da;
}

.H3-TST-D3-2 #additions .H3-TST-D4-1 .H3-TST-D5-1 span {
    display: block;
}

.H3-TST-D3-2 #additions .H3-TST-D4-1 .H3-TST-D5-1 span span {
    display: inline-flex;
}

#step2 .fa-info-circle {
    position: absolute;
    color: red;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    cursor: pointer;
}

.H3-TST-D4-1.H3-P {
    background-color: #848478;
}

.H3-TST-D4-1.H3-P .H3-TST-D5-1 p,
.H3-TST-D4-1.H3-P .H3-TST-D5-1 {
    color: #fff;
    font-weight: 700;
}

.H3-TST-D2-2 .H3-TST-D3-2 {
    background-color: #eff0e0;
}

.H3-TST-D4-2 {
    padding: 5px 10px;
    border-bottom: 1px solid #fff;
}

.H3-TST-D4-2 h5 {
    color: #0d1a80;
    font-weight: 600;
}

.H3-TST-D4-2 p {
    color: #0d1a80;
    font-weight: 500;
}

.H3-TST-D4-2 p i {
    font-size: 23px;
    margin-right: 5px;
    color: #777;
}

.H3-icons {
    display: inline-flex;
    width: 100%;
    margin-top: 5px;
}

.H3-icons div {
    float: right;
    width: 25%;
    text-align: center;
}

p.H3-TST-P-PR {
    color: #777;
    font-size: 30px;
}

p.H3-TST-P-PR span {
    font-size: 15px;
}

.pro-bar li:nth-child(1)::after {
    height: 0;
}

.orange-checkbox-value {
    color: #000;
}

@media (max-width:1112px) {
    .H3-TST-D2 {
        float: none;
    }
    .H3-TST-D2-2,
    .H3-TST-D2-1 {
        width: 100%;
    }
}


/* ------------- END H3 ------------- */


/* ------------- START H4 ------------- */

* {
    direction: rtl;
}

#step3.cono * {
    color: #000;
}

#step3 .card * {
    color: #fff;
}

body {
    background: url('../../img/BackgroundH4.jpg') fixed !important;
    background-size: contain;
}

html {
    background-size: contain;
}

#step3 .pro-bar li:nth-child(1)::after {
    height: 0;
}

#step3.cono {
    background: rgb(255, 255, 255, 80%);
    width: 100%;
    margin-top: 0px;
    padding-bottom: 40px;
    padding-top: 15px;
}

#step3 h3 {
    color: blanchedalmond !important;
}

#step3 .fl small {
    float: left;
    color: gray;
    margin-top: 5px;
}

#step3 .fl h2 {
    display: inline-block;
    color: #a91111;
}

#step3 .ways {
    text-align: center;
}

#step3 .ways div {
    display: inline-block;
    margin: auto 2.5%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#step3 .ways div:first-child {
    display: block;
    margin: 0;
    color: #a91111;
}

#step3 .ways div>input[type="radio"],
label {
    display: inline-block;
    margin-top: 15px;
}

#step3 .inputs {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}

#step3 .inputs>div {
    /* display: inline-flex; */
    width: 100%;
    margin-top: 10px;
    /* text-align: left; */
}

#step3 .inputs div input,
#step3 p {
    display: inline-block;
}

#step3 .inputs div input {
    width: 65%;
    height: 30px;
    float: left;
    font-family: 'Brygada 1918', serif;
}

#step3 .inputs div>p {
    margin: 8px 0px 8px 20px;
}

#step3 .imm .logo {
    width: 120px;
    height: 50px;
}

#step3 .logo1 {
    width: 120px;
    height: 36px;
}

#step3 .logo2 {
    width: 60px;
    height: 50px;
}

#step3 .card {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: left;
    direction: ltr;
    border-radius: 10px;
    width: 65%;
    margin-top: 20px;
    height: 200px;
    margin-right: 50px;
    transition: .5s;
    border: none;
    background: none;
    /* background: #323232; */
    /* transform: rotatey(90deg); */
    ;
}

#step3 .bay-g {
    display: grid;
    grid-template-columns: 47% 55%;
    margin-top: 30px;
}

#step3 .v-num {
    display: inline-block;
    color: white;
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-top: 75px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    word-spacing: 10px;
}

#step3 .n-d {
    color: white;
    /* width: 30%; */
    bottom: 0%;
}

#step3 .n-d p {
    font-size: 14px;
    margin: 0;
    display: block;
}

#step3 .n-d p:first-child {
    margin-left: 40px;
}

#step3 .n-d p:last-child {
    font-size: 16px;
    margin-left: 10px;
}

#step3 .dd input {
    /* float: none !important; */
    width: 32.5% !important;
    /* margin-left: 1px; */
}

#step3 .gooo {
    width: 50% !important;
    margin: auto;
    background: rgb(255, 255, 255, 80%);
    margin-top: 10px;
    margin-bottom: 20vh;
    padding: 30px;
    padding: 27px 19px;
    height: 100px;
    text-align: center;
}

#step3 .fl {
    text-align: center;
}

#step3 .gooo a,
#step3 .gooo button {
    background: linear-gradient(90deg, #000 0%, blue 103%) !important;
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 4px 55px !important;
    padding-bottom: 14px !important;
    border-radius: 45px;
    font-size: 20px;
    /* height: 30px; */
    /* width: 100px; */
    border: none;
}

#step3 .gooo a:first-child {
    margin-left: 0;
    margin-right: 0;
    float: right;
}

#step3 .gooo a:last-child {
    margin-left: 0;
    float: left;
}

#step3 .hr {
    position: absolute;
    /* top: 0; */
    height: 50%;
    /* margin-top: 5px; */
    border-bottom: solid 1px gray;
    width: 100%;
    z-index: 1;
}

#step3 .spans {
    z-index: 2;
}

#step3 .card-front {
    position: absolute;
    margin: 0;
    background: url("../../img/VISA-GREEN.jpg");
    background-size: 100% 100%;
    direction: ltr;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    transform: perspective(600px) rotateY(0deg);
    transition: .4s;
    /* background: red; */
}

#step3 .card-front img {
    display: block;
    width: 30px;
    height: 30px;
    /* float: left; */
    margin-top: 35px;
    margin-left: 20px;
    border-radius: 5px;
}

#step3 .n-b {
    display: block;
    margin-top: 20px;
}

#step3 .n-b p {
    display: block;
    margin: 0;
    font-size: 16px;
    margin-left: 20px;
}

#step3 .n-b p:first-child {
    margin-left: 50px;
}

#step3 .c-nu {
    display: inline-block;
    margin: 0;
    margin-top: 77px;
    /* margin: auto; */
    margin-left: 65%;
    transform: translate(-50%, 0);
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: 'Brygada 1918', serif;
}

#step3 .card-back {
    position: absolute;
    background: url("../../img/VISA-GREEN2.jpg");
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    direction: ltr;
    color: white;
    border-radius: 10px;
    backface-visibility: hidden;
    transform: perspective(600px) rotateY(180deg);
    transition: .4s;
}

#step3 .lin {
    display: block;
    background: rgb(170, 149, 32);
    /* padding:10px 0; */
    color: rgb(170, 149, 32);
    position: absolute;
    width: 100%;
    margin-top: 20px;
}

#step3 .cv-n {
    display: inline-block;
    background: white;
    color: black;
    position: absolute;
    margin-top: 50px;
    padding: 0;
    width: 70%;
    text-align: right;
    height: 25px;
    font-size: 17px;
    font-weight: bold;
}

#step3 .cv-n p {
    margin-right: 10px;
}

#step3 .cv-n p:first-child {
    /* margin-right: 10px; */
    position: absolute;
    right: -30%;
    color: white;
}

#step3 .card:hover>.card-front {
    transform: perspective(600px) rotateY(-180deg);
}

#step3 .card:hover>.card-back {
    transform: perspective(600px) rotateY(0deg);
}

#step3 .logo3 {
    height: 55px;
    width: 57px;
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: -20px;
}

#step3 .YHB {
    margin: 10px 0;
    width: 130px;
    height: 35px;
}

@media (max-width: 1480px) {
    #step3 .col-lg-8 {
        flex: 0 0 88.666667% !important;
        max-width: 88.666667% !important;
    }
}


/* ------------- END H4 ------------- */


/* ------------- START H5 ------------- */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&display=swap');
body {
    /* background: url('back.jpg') no-repeat  ; */
    direction: rtl;
    /* background-size:100% 100%;
           background-attachment: fixed; */
    font-family: 'Cairo', sans-serif !important;
    /* background: rgb(0,73,136) !important; */
    background: url('../../img/Untitled-1.png') fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#step4 .bodycontainer {
    margin: auto !important;
    width: 100%;
}

#step4 .bodycontainer * {
    /* color: #000 !important; */
}

#step4 .men3 {
    color: white !important;
}

#step4 .container1 {
    width: 100%;
    background: gray;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: black;
    text-align: center !important;
    background: #fff;
    border: 7px solid #ccc;
}

#step4 .back {
    /* background: #00246691 ;
    height: 100%;
    width: 100%; */
    /* filter: blur(8px); */
    text-align: center !important;
}

#step4 .container .back>div {
    padding: 10px;
    /* width:100% ; */
    color: white;
    border-bottom: solid 1px white;
    text-align: center !important;
    border: 2px solid #ccc;
}

#step4 .title {
    margin: 0;
    padding: 20px;
    text-align: center !important;
}

#step4 .title h1 {
    padding: 0;
    margin: 0;
    text-align: center !important;
}

#step4 .detel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: right;
    text-align: center !important;
}

#step4 .code {
    font-size: 25px;
    text-align: center !important;
}

#step4 .code p,
h1 {
    /* margin-top: 20px; */
    /* margin:30px 10px ; */
    margin: 5px;
    text-align: center !important;
}

#step4 .dis {
    font-size: 20px;
    text-align: center !important;
}

#step4 .date {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: right;
    font-size: 20px;
    text-align: center !important;
}

#step4 .date p {
    margin: 5px;
    text-align: center !important;
}

#step4 .price {
    padding: 30px;
    font-size: 25px;
    /* text-align: center; */
    text-align: center !important;
}

#step4 .complet {
    font-size: 20px;
    font-weight: bold;
    word-wrap: break-word;
    text-align: center !important;
}

#step4 .mem-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center !important;
    /* width: 100%; */
}

#step4 .mebary {
    text-align: center;
    width: 90%;
}

#step4 .mebary img {
    width: 90%;
}

#step4 .men1 {
    background: linear-gradient(90deg, rgb(111, 64, 16) 0%, rgb(247, 179, 80) 50%, rgb(228, 160, 14) 103%) !important;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    text-align: center !important;
}

#step4 .men2 {
    background: linear-gradient(90deg, #635f5f 0%, rgb(217, 217, 241) 103%) !important;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    text-align: center !important;
    border-radius: 30px;
}

#step4 .men3 {
    background: linear-gradient(90deg, #000 0%, rgb(54, 50, 50) 103%) !important;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    text-align: center !important;
    border-radius: 30px;
}

#step4 .memd {
    display: none;
    padding: 10px;
    box-shadow: inset 0 2px 5px #002366, inset -2px -2px -5px #002366;
    /* border: solid 3px rgb(19, 23, 54); */
    margin-top: 5px;
    border-bottom: solid 5px rgb(19, 23, 54);
    text-align: center !important;
}

#step4 .memd1 {
    color: black;
    /* border-bottom: solid 5px rgb(168, 146, 17); */
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center !important;
}

#step4 .memd2 {
    color: black;
    /* border-bottom: solid 5px rgb(168, 166, 154); */
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center !important;
}

#step4 .memd3 {
    color: white;
    /* border-bottom: solid 5px rgb(116, 36, 36); */
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center !important;
}

#step4 .od-tit {
    text-align: center;
    padding: 5px;
    text-align: center !important;
}

#step4 .red {
    color: #002352 !important;
}

#step4 .head {
    /* background: white; */
    width: 60%;
    margin-top: 30px;
    margin: 10px auto;
    /* position: relative; */
    margin-bottom: 10px;
    text-align: center;
}

#step4 .bnb {
    position: absolute;
    background: rgb(255, 255, 255, 80%);
    width: 60%;
    height: 110px;
    z-index: -10;
    border-radius: 20px;
    padding-bottom: 0;
}

#step4 .pro-bar {
    counter-reset: step;
    padding: 0;
    /* margin-top: 15px; */
}

#step4 .pro-bar li {
    list-style: none;
    /* float: right; */
    display: inline-block;
    width: 17%;
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 15px;
    font-weight: bold;
}

#step4 .pro-bar li::before {
    content: counter(step);
    counter-increment: step;
    width: 50px;
    padding-top: 7px;
    height: 50px;
    line-height: 30px;
    border: 1px solid rgb(2, 2, 2);
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50px;
    background: white;
    color: black;
    padding-bottom: 15px;
    /* font-weight:600 !important; */
    font-size: 40px;
    font-family: 'Brygada 1918', serif;
}

#step4 .pro-bar li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(0, 0, 0);
    top: 25px;
    right: -50%;
    z-index: -1;
}

#step4 .pro-bar li:nth-child(5):after,
#step4 .pro-bar li:nth-child(4):after,
#step4 .pro-bar li:nth-child(3):after,
#step4 .pro-bar li:nth-child(2):after,
#step4 .pro-bar li:nth-child(1):after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(1, 1, 82);
    top: 25px;
    right: -50%;
    z-index: -1;
}

#step4 .pro-bar li:nth-child(5)::before,
#step4 .pro-bar li:nth-child(4)::before,
#step4 .pro-bar li:nth-child(3)::before,
#step4 .pro-bar li:nth-child(2)::before,
#step4 .pro-bar li:nth-child(1)::before {
    background-color: rgb(1, 1, 82);
    color: white;
}

#step4 .pro-bar li:first-child::after {
    content: none;
}

#step4 .pro-bar .active::after {
    content: none;
    border: none;
}

#step4 .od-tit {
    font-weight: bold;
    font-size: 29px;
    padding: 45px 0;
}

#step4 .date div {
    border: 1px solid;
    margin: 0 1px;
}

footer {
    margin-top: 0vh !important;
}


/* ------------- END H5 ------------- */