@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');
.headertop {
    background: no-repeat linear-gradient(359deg, #000c23 50%, #005694 100%);
    width: 100%;
    /* margin: auto; */
    direction: rtl;
    height: 117px;
    /* padding: 50px    ; */
}

.headertop ul {
    float: left;
    margin: 0;
    padding: 10px;
}

.clear {
    clear: both;
}

.headertop div>ul>li:first-child {
    /* border-right: solid white 1px; */
}

.headertop div>ul>li {
    text-decoration: none;
    display: inline-block;
    /* height: 100%; */
    /* border-left: solid white 1px; */
    padding: 10px;
    font-size: 20px;
    color: white;
    padding: 5px;
}

.headertop div>ul>li:hover {
    background-color: rgba(0, 0, 0, 0.301);
}

.headertop h2 {
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 4vw;
    /* padding: 5px; */
    float: right;
    margin: 0;
}

.ml2 {
    font-weight: 900;
    font-size: 3.5em;
}

.ml2 .letter {
    display: inline-block;
    line-height: 1em;
}

.headertop>div {
    width: 70%;
    margin: auto;
    height: 117px;
}

.headertop div>ul li select {
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    width: 100%;
}

.headertop div>ul li select option {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    text-align: center !important;
    width: 100%;
    font-size: 13px;
}

.headertop div>ul li a {
    color: white;
    text-decoration: none;
}

.nn-h {
    font-size: 30px;
    border: none;
}

.user {
    display: inline-flex;
    flex-direction: column;
    /* margin:1px 30px; */
    margin-top: 10px;
    margin-right: 30px;
    text-align: center;
    /* display: none; */
}

.user img {
    height: 50px;
    width: 50px;
    margin: auto;
}

.user p {
    padding: 5px;
}

@media screen and (max-width:1009px) {
    body {
        /* background-color: red; */
    }
    .headertop {
        text-align: center;
    }
    .header>div {
        text-align: center;
        color: red;
    }
    .headertop ul {
        /* display: block; */
        float: none;
    }
    .headertop h2 {
        float: none;
        display: block;
    }
}