body {
    background-size: contain;
    direction: rtl;
    font-family: 'Cairo', sans-serif !important;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.booking-steps {
    text-align: center;
    width: 80%;
    margin: auto;
    &_head {
        margin: 15px auto !important;
        text-align: center;
        width: 100%;
        text-align: center;
        &_background {
            position: absolute;
            background: rgb(255, 255, 255, 80%);
            width: 50%;
            height: 100%;
            z-index: -10;
            border-radius: 20px;
            padding-bottom: 0;
            position: absolute i !important;
            background: rgb(255, 255, 255, 80%) !important;
            z-index: -10;
            border-radius: 20px !important;
            padding-bottom: 0 !important;
            width: 98% !important;
        }
        .pro-bar {
            counter-reset: step;
            padding: 0;
            li {
                list-style: none;
                display: inline-block;
                width: 17%;
                position: relative;
                text-align: center;
                color: rgb(0, 0, 0);
                margin-top: 15px;
                font-weight: bold;
                &:nth-child(1)::after {
                    height: 0;
                }
                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background-color: rgb(0, 0, 0);
                    top: 25px;
                    right: -50%;
                    z-index: -1;
                }
                &::before {
                    content: counter(step);
                    counter-increment: step;
                    width: 50px;
                    padding-top: 7px;
                    height: 50px;
                    line-height: 30px;
                    border: 1px solid rgb(2, 2, 2);
                    display: block;
                    text-align: center;
                    margin: 0 auto 10px auto;
                    border-radius: 50px;
                    background: white;
                    color: black;
                    padding-bottom: 15px;
                    font-size: 40px;
                    font-family: 'Brygada 1918', serif;
                }
                &:nth-child(1):before {
                    background-color: rgb(1, 1, 82) !important;
                    color: white !important;
                }
                &:nth-child(2):before {
                    background-color: rgb(1, 1, 82) !important;
                    color: white !important;
                }
                &.active::before {
                    background-color: rgb(1, 1, 82) !important;
                    color: white !important;
                }
            }
        }
    }
    &_footer {
        background: white;
        padding: 20px;
        width: 100%;
        margin: 10px auto;
        text-align: left;
        .booking-car-notes {
            .orange-checkbox-value {
                a {
                    color: red;
                }
            }
            @media (max-width: 530px) {
                display: none;
            }
        }
        .booking-car-notes-mo {
            display: none;
            @media (max-width: 530px) {
                display: block;
            }
        }
        .booking-btn-mo {
            @media (max-width: 530px) {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        a,
        button {
            border-radius: 45px !important;
            color: #fff;
            border: none;
            font-size: 20px;
            font-weight: 600;
            border-radius: 2px;
            width: 130px;
            height: 40px;
            transition: .4s;
            text-decoration: none;
            padding: 5px 42px;
        }
    }
    .btns .inb {
        display: none;
    }
}

.display-none {
    display: none !important;
}
