* {
    direction: rtl;
}

#step3 {
    &.cono * {
        color: #000;
    }
    .card * {
        color: #fff;
    }
    .pro-bar li:nth-child(1)::after {
        height: 0;
    }
    &.cono {
        background: rgb(255, 255, 255, 80%);
        width: 100%;
        margin-top: 0px;
        padding-bottom: 40px;
        padding-top: 15px;
    }
    h3 {
        color: blanchedalmond !important;
    }
    .fl small {
        float: left;
        color: gray;
        margin-top: 5px;
    }
    .fl h2 {
        display: inline-block;
        color: #a91111;
    }
    .ways {
        text-align: center;
    }
    .ways div {
        display: inline-block;
        margin: auto 2.5%;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
    .ways div:first-child {
        display: block;
        margin: 0;
        color: #a91111;
    }
    .ways div>input[type="radio"],
    label {
        display: inline-block;
        margin-top: 15px;
    }
    .inputs {
        margin-top: 20px;
        display: inline-block;
        width: 100%;
    }
    .inputs>div {
        width: 100%;
        margin-top: 10px;
    }
    .inputs div input,
    p {
        display: inline-block;
    }
    .inputs div input {
        width: 65%;
        height: 30px;
        float: left;
        font-family: 'Brygada 1918', serif;
    }
    .inputs div>p {
        margin: 8px 0px 8px 20px;
    }
    .imm .logo {
        width: 120px;
        height: 50px;
    }
    .logo1 {
        width: 120px;
        height: 36px;
    }
    .logo2 {
        width: 60px;
        height: 50px;
    }
    .card {
        display: inline-block;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        text-align: left;
        direction: ltr;
        border-radius: 10px;
        width: 65%;
        margin-top: 20px;
        height: 200px;
        margin-right: 50px;
        transition: .5s;
        border: none;
        background: none;
    }
    .bay-g {
        display: grid;
        grid-template-columns: 47% 55%;
        margin-top: 30px;
    }
    .v-num {
        display: inline-block;
        color: white;
        margin-left: 50%;
        transform: translate(-50%, 0);
        margin-top: 75px;
        font-size: 20px;
        width: 100%;
        text-align: center;
        margin-bottom: 0;
        word-spacing: 10px;
    }
    .n-d {
        color: white;
        bottom: 0%;
    }
    .n-d p {
        font-size: 14px;
        margin: 0;
        display: block;
    }
    .n-d p:first-child {
        margin-left: 40px;
    }
    .n-d p:last-child {
        font-size: 16px;
        margin-left: 10px;
    }
    .dd input {
        width: 32.5% !important;
    }
    .gooo {
        width: 50% !important;
        margin: auto;
        background: rgb(255, 255, 255, 80%);
        margin-top: 10px;
        margin-bottom: 20vh;
        padding: 30px;
        padding: 27px 19px;
        height: 100px;
        text-align: center;
    }
    .fl {
        text-align: center;
    }
    .gooo a,
    .gooo button {
        background: linear-gradient(90deg, #000 0%, blue 103%) !important;
        text-decoration: none;
        color: white;
        margin: 0;
        padding: 4px 55px !important;
        padding-bottom: 14px !important;
        border-radius: 45px;
        font-size: 20px;
        border: none;
    }
    .gooo a:first-child {
        margin-left: 0;
        margin-right: 0;
        float: right;
    }
    .gooo a:last-child {
        margin-left: 0;
        float: left;
    }
    .hr {
        position: absolute;
        height: 50%;
        border-bottom: solid 1px gray;
        width: 100%;
        z-index: 1;
    }
    .spans {
        z-index: 2;
    }
    .card-front {
        position: absolute;
        margin: 0;
        // background: url("../../img/VISA-GREEN.jpg");
        background-size: 100% 100%;
        direction: ltr;
        color: white;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        backface-visibility: hidden;
        transform: perspective(600px) rotateY(0deg);
        transition: .4s;
    }
    .card-front img {
        display: block;
        width: 30px;
        height: 30px;
        margin-top: 35px;
        margin-left: 20px;
        border-radius: 5px;
    }
    .n-b {
        display: block;
        margin-top: 20px;
    }
    .n-b p {
        display: block;
        margin: 0;
        font-size: 16px;
        margin-left: 20px;
    }
    .n-b p:first-child {
        margin-left: 50px;
    }
    .c-nu {
        display: inline-block;
        margin: 0;
        margin-top: 77px;
        margin-left: 65%;
        transform: translate(-50%, 0);
        width: 100%;
        text-align: center;
        font-size: 20px;
        font-family: 'Brygada 1918', serif;
    }
    .card-back {
        position: absolute;
        // background: url("../../img/VISA-GREEN2.jpg");
        height: 100%;
        width: 100%;
        background-size: 100% 100%;
        direction: ltr;
        color: white;
        border-radius: 10px;
        backface-visibility: hidden;
        transform: perspective(600px) rotateY(180deg);
        transition: .4s;
    }
    .lin {
        display: block;
        background: rgb(170, 149, 32);
        color: rgb(170, 149, 32);
        position: absolute;
        width: 100%;
        margin-top: 20px;
    }
    .cv-n {
        display: inline-block;
        background: white;
        color: black;
        position: absolute;
        margin-top: 50px;
        padding: 0;
        width: 70%;
        text-align: right;
        height: 25px;
        font-size: 17px;
        font-weight: bold;
    }
    .cv-n p {
        margin-right: 10px;
    }
    .cv-n p:first-child {
        position: absolute;
        right: -30%;
        color: white;
    }
    .card:hover>.card-front {
        transform: perspective(600px) rotateY(-180deg);
    }
    .card:hover>.card-back {
        transform: perspective(600px) rotateY(0deg);
    }
    .logo3 {
        height: 55px;
        width: 57px;
        display: block;
        text-align: center;
        margin: auto;
        margin-bottom: -20px;
    }
    .YHB {
        margin: 10px 0;
        width: 130px;
        height: 35px;
    }
    @media (max-width: 1480px) {
        .col-lg-8 {
            flex: 0 0 88.666667% !important;
            max-width: 88.666667% !important;
        }
    }
}