@keyframes fatimes {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes fabars {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.branch-page {
    &_head {
        color: get-color(light);
        height: 340px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &_overlay-black {
            width: 100%;
            height: 100%;
            background: #00000080;
            div {
                @include location(50%, 50%);
                text-align: center;
                h1 {
                    margin-bottom: 10px;
                    span {
                        color: get-color(red);
                    }
                }
                p {
                    font-size: 18px;
                }
            }
        }
    }
    &_center {
        width: 100%;
        margin-top: 20px;
        &_head {
            position: relative;
            text-align: center;
            h2 {
                color: #fff;
                background: get-color(primary-light-gradient);
                width: 100%;
                text-align: right;
                font-size: 20px;
                padding: 15px 15px;
                margin-bottom: 0;
                display: none;
                i {
                    float: left;
                    font-size: 22px;
                }
                i.fa-times {
                    animation: fatimes 0.5s alternate;
                }
                i.fa-bars {
                    animation: fabars 0.5s alternate;
                }
            }
            &_regions {
                display: block;
                div {
                    display: inline-block;
                    background-color: #999;
                    padding: 10px;
                    width: 23%;
                    font-size: 20px;
                    color: get-color(light);
                    margin: 0;
                    transition: .4s;
                    margin: 0 1px;
                    p {
                        cursor: pointer;
                    }
                    &:nth-child(1) {
                        clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
                        padding-right: 10px;
                    }
                    &:last-child {
                        clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
                        padding-left: 10px;
                    }
                }
                div.active {
                    background-color: get-color(primary);
                }
            }
            @media (max-width: 991px) {
                h2 {
                    display: block;
                }
                &_regions {
                    z-index: 5;
                    position: absolute;
                    width: 100%;
                    background-color: #fff;
                    div {
                        padding: 10px 15px 0;
                        width: 100%;
                        font-size: 20px;
                        margin: 0;
                        text-align: right;
                        &:last-child,
                        &:nth-child(1) {
                            clip-path: inherit;
                        }
                    }
                    display: none;
                }
            }
        }
        &_branches {
            background-color: #e1e1e1;
            min-height: 100%;
            width: 100%;
            height: fit-content;
            direction: rtl;
            overflow: hidden;
            text-align: right;
            &_content {
                width: 80%;
                @media (max-width: 1270px) {
                    width: 90%;
                }
                @media (max-width: 1133px) {
                    width: 95%;
                }
                @media (max-width: 1071px) {
                    width: 70%;
                }
                @media (max-width: 950px) {
                    width: 80%;
                }
                @media (max-width: 825px) {
                    width: 90%;
                }
                @media (max-width: 740px) {
                    width: 95%;
                }
                @media (max-width: 696px) {
                    width: 55%;
                }
                @media (max-width: 596px) {
                    width: 65%;
                }
                @media (max-width: 520px) {
                    width: 70%;
                }
                @media (max-width: 470px) {
                    width: 80%;
                }
                @media (max-width: 412px) {
                    width: 90%;
                }
                @media (max-width: 364px) {
                    width: 95%;
                }
                margin: 20px auto;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                &_branch {
                    width: 30%;
                    @media (max-width: 1071px) {
                        width: 49%;
                    }
                    @media (max-width: 696px) {
                        width: 100%;
                    }
                    background-color: #fff;
                    border-radius: 8px;
                    overflow: hidden;
                    margin-bottom: 65px;
                    box-shadow: -17px 20px 10px 0px #5f679673;
                    height: fit-content;
                    h3 {
                        width: 100%;
                        color: #5f6796;
                        text-align: right;
                        padding: 5px 10px 0;
                        margin-bottom: 0;
                        font-size: 25px;
                    }
                    p {
                        width: 100%;
                        color: #777;
                        text-align: right;
                        padding: 0px 10px;
                        margin-top: -5px;
                        margin-bottom: 5px;
                    }
                    .so {
                        margin-top: 5px;
                        color: #333;
                    }
                    h4 {
                        width: 100%;
                        text-align: right;
                        padding: 0px 10px;
                        font-size: 20px;
                    }
                    &_detailing {
                        width: 100%;
                        display: flex;
                        text-align: right;
                        justify-content: space-between;
                        padding: 0px 10px;
                        margin-bottom: 10px;
                        p {
                            width: fit-content;
                            padding: 0;
                            margin-top: 0;
                            font-size: 13px;
                            @media (max-width: 341px) {
                                font-size: 11px;
                            }
                        }
                    }
                    &_buttons {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        a {
                            color: #fff;
                            font-weight: 700;
                            padding: 6px 12px;
                            text-align: center;
                        }
                        .location {
                            background-color: rgba(181, 33, 34, .86);
                            border-radius: 5px 0 0 0;
                        }
                        .telephone-number {
                            border-radius: 0px 5px 0 0;
                            background-color: #5f6796;
                        }
                        .location-mobile {
                            background-color: rgba(181, 33, 34, .86);
                            border-radius: 5px 0 0 0;
                            display: none;
                        }
                        .telephone-number-mobile {
                            border-radius: 0px 5px 0 0;
                            background-color: #5f6796;
                            display: none;
                        }
                    }
                }
            }
        }
    }
    &_map {
        overflow: hidden;
        position: relative;
        padding-top: 100px;
        @media (max-width: 930px) {
            padding-top: 150px;
        }
        @media (max-width: 767px) {
            padding-top: 190px;
        }
        width: 100%;
        &_input-container {
            @include location(5%, 88%);
            border: 1px solid #111;
            padding: 10px;
            width: 400px;
            @media (max-width: 1194px) {
                @include location(5%, 85%);
            }
            @media (max-width: 930px) {
                @include location(5%, 82%);
            }
            @media (max-width: 767px) {
                @include location(5%, 82%);
                width: 350px;
            }
            @media (max-width: 627px) {
                @include location(5%, 80%);
                width: 300px;
            }
            @media (max-width: 515px) {
                @include location(5%, 50%);
                width: 400px;
            }
            @media (max-width: 509px) {
                width: 350px;
            }
            @media (max-width: 437px) {
                width: 300px;
            }
            @media (max-width: 367px) {
                @include location(2%, 50%);
                width: 98%;
            }
            &_input-content {
                background-color: #333;
                padding: 50px 20px 20px;
                &_head {
                    width: fit-content;
                    padding: 5px;
                    border: 1px solid #333;
                    float: left;
                    @include location(10%, -20%);
                    @media (max-width: 367px) {
                        @include location(7%, 50%);
                        border: 1px solid #777;
                        font-size: 16px;
                    }
                    div {
                        color: #fff;
                        padding: 5px 10px;
                        background-color: red;
                    }
                }
                &_form {
                    width: 100%;
                    &_input {
                        width: 100%;
                        label {
                            width: 100%;
                            text-align: right;
                            color: #fff;
                        }
                        select {
                            width: 100%;
                            text-align: right;
                            height: 40px;
                            background: none;
                            border-color: #777;
                            color: #777;
                            outline: none;
                            padding: 0 7px;
                        }
                        &:nth-child(1) {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
        &_branches-map {
            width: 85%;
            height: 650px;
            @media (max-width: 367px) {
                width: 98%;
            }
            margin: 0 auto;
            border: 1px solid #000;
            padding: 10px;
        }
    }
}