@keyframes fatimes {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes fabars {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.branch-page {
    &_head {
        color: get-color(light);
        height: 340px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &_overlay-black {
            width: 100%;
            height: 100%;
            background: #00000080;
            div {
                @include location(50%, 50%);
                text-align: center;
                h1 {
                    margin-bottom: 10px;
                    span {
                        color: get-color(red);
                    }
                }
                p {
                    font-size: 18px;
                }
            }
        }
    }
    &_center {
        width: 100%;
        margin-top: 20px;
        &_head {
            position: relative;
            text-align: center;
            h2 {
                color: #fff;
                background: get-color(primary-light-gradient);
                width: 100%;
                text-align: right;
                font-size: 20px;
                padding: 15px 15px;
                margin-bottom: 0;
                display: none;
                i {
                    float: left;
                    font-size: 22px;
                }
                i.fa-times {
                    animation: fatimes 0.5s alternate;
                }
                i.fa-bars {
                    animation: fabars 0.5s alternate;
                }
            }
            &_regions {
                display: block;
                div {
                    display: inline-block;
                    background-color: #999;
                    padding: 10px;
                    width: 23%;
                    font-size: 20px;
                    color: get-color(light);
                    margin: 0;
                    transition: .4s;
                    margin: 0 1px;
                    p {
                        cursor: pointer;
                    }
                    &:nth-child(1) {
                        clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
                        padding-right: 10px;
                    }
                    &:last-child {
                        clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
                        padding-left: 10px;
                    }
                }
                div.active {
                    background-color: get-color(primary);
                }
            }
            @media (max-width: 991px) {
                h2 {
                    display: block;
                }
                &_regions {
                    z-index: 5;
                    position: absolute;
                    width: 100%;
                    background-color: #fff;
                    div {
                        padding: 10px 15px 0;
                        width: 100%;
                        font-size: 20px;
                        margin: 0;
                        text-align: right;
                        &:last-child,
                        &:nth-child(1) {
                            clip-path: inherit;
                        }
                    }
                    display: none;
                }
            }
        }
        &_dranches {
            height: 100%;
            width: 100%;
            background: get-color(primary);
            margin: 0;
            grid-gap: 10px;
            padding: 50px;
            @media (max-width: 412px) {
                padding: 50px 0;
            }
            text-align: center;
            .container-fluid {
                width: 85%;
                @media (max-width: 494px) {
                    width: 100%;
                }
                .col-3 {
                    margin: 10px 0;
                }
            }
            &_branch {
                overflow: hidden;
                background-color: get-color(light);
                height: 400px;
                border-radius: 10px;
                transition: .4s;
                position: relative;
                &:hover {
                    transform: scale(1.02);
                    transition: .4s;
                }
                .branch-list-visible {
                    @include location(50%, 50%);
                    width: 100%;
                    img {
                        width: 120px;
                        height: 120px;
                        margin-bottom: 50px;
                    }
                    h2 {
                        font-size: 25px;
                        margin-bottom: 20px;
                        @media (max-width: 1736px) {
                            font-size: 20px;
                            @media (max-width: 1434px) {
                                font-size: 18px;
                                @media (max-width: 1315px) {
                                    font-size: 15px;
                                    @media (max-width: 991px) {
                                        font-size: 25px;
                                        @media (max-width: 916px) {
                                            font-size: 20px;
                                            @media (max-width: 767px) {
                                                font-size: 25px;
                                                @media (max-width: 447px) {
                                                    font-size: 20px;
                                                    @media (max-width: 284px) {
                                                        font-size: 18px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    a {
                        margin: auto;
                        width: 180px;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
                .branch-hidden-list {
                    @include location(-60%, 145%);
                    width: 50%;
                    height: 50%;
                    background-color: get-color(primary);
                    z-index: 2;
                    border-radius: 0px 0px 200px 200px;
                    transition: .5s;
                    .detail {
                        @include location(79%, 20%);
                        color: get-color(light);
                    }
                    .section-detail {
                        color: get-color(light);
                        text-align: right;
                        padding: 5px 10px;
                        margin-top: -300%;
                        margin-right: -100%;
                        h4 {
                            font-size: 0.9em;
                            font-weight: 900;
                            margin-bottom: 1px;
                            margin-top: 5px;
                        }
                        p {
                            font-size: 0.9em;
                            margin-bottom: 0;
                        }
                    }
                    &:hover {
                        width: 100%;
                        border-radius: 0;
                        height: 100%;
                        transition: .5s;
                        .detail {
                            display: none;
                        }
                        .section-detail {
                            margin-top: 0%;
                            margin-right: 0%;
                            transition: .5s;
                            button {
                                background: get-color(secondary-light);
                                color: get-color(light);
                                padding: 4px 0;
                                border-radius: 4px;
                                font-size: 20px;
                                border: 2px solid #42a0fd;
                                box-shadow: 0px 5px 7px 5px #07182b;
                                font-weight: 400 !important;
                                text-decoration: none;
                                width: 127px;
                                height: 43px;
                                display: block;
                                cursor: pointer;
                                transform: scale(1);
                                margin: 25px auto;
                                transition: .2s;
                                &:hover {
                                    background: #004fa0;
                                    transform: scale(1.05);
                                    transition: .2s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &_map {
        overflow: hidden;
        position: relative;
        padding-top: 100px;
        @media (max-width: 930px) {
            padding-top: 150px;
        }
        @media (max-width: 767px) {
            padding-top: 190px;
        }
        width: 100%;
        &_input-container {
            @include location(5%, 88%);
            border: 1px solid #111;
            padding: 10px;
            width: 400px;
            @media (max-width: 1194px) {
                @include location(5%, 85%);
            }
            @media (max-width: 930px) {
                @include location(5%, 82%);
            }
            @media (max-width: 767px) {
                @include location(5%, 82%);
                width: 350px;
            }
            @media (max-width: 627px) {
                @include location(5%, 80%);
                width: 300px;
            }
            @media (max-width: 515px) {
                @include location(5%, 50%);
                width: 400px;
            }
            @media (max-width: 509px) {
                width: 350px;
            }
            @media (max-width: 437px) {
                width: 300px;
            }
            @media (max-width: 367px) {
                @include location(2%, 50%);
                width: 98%;
            }
            &_input-content {
                background-color: #333;
                padding: 50px 20px 20px;
                &_head {
                    width: fit-content;
                    padding: 5px;
                    border: 1px solid #333;
                    float: left;
                    @include location(10%, -20%);
                    @media (max-width: 367px) {
                        @include location(7%, 50%);
                        border: 1px solid #777;
                        font-size: 16px;
                    }
                    div {
                        color: #fff;
                        padding: 5px 10px;
                        background-color: red;
                    }
                }
                &_form {
                    width: 100%;
                    &_input {
                        width: 100%;
                        label {
                            width: 100%;
                            text-align: right;
                            color: #fff;
                        }
                        select {
                            width: 100%;
                            text-align: right;
                            height: 40px;
                            background: none;
                            border-color: #777;
                            color: #777;
                            outline: none;
                            padding: 0 7px;
                        }
                        &:nth-child(1) {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
        &_branches-map {
            width: 85%;
            @media (max-width: 367px) {
                width: 98%;
            }
            margin: 0 auto;
            border: 1px solid #000;
            padding: 10px;
        }
    }
}