.branch-page {
    &_head {
        color: get-color(light);
        height: 500px;
        width: 100%;
        position: relative;
        h1 {
            @include location(50%, 50%);
        }
    }
    &_center {
        width: 90%;
        margin: 50px auto;
        &_regions {
            text-align: center;
            div {
                display: inline-block;
                background-color: get-color(primary);
                padding: 10px;
                /* height: 40px; */
                width: 24%;
                font-size: 20px;
                color: get-color(light);
                margin: 0;
                transition: .4s;
                margin: 0 1px;
                &:nth-child(1) {
                    clip-path: polygon(0 0, 73% 0, 100% 100%, 0% 100%);
                    background-color: get-color(primary);
                }
                &:last-child {
                    clip-path: polygon(28% 0, 100% 0, 100% 100%, 0% 100%);
                }
                p {
                    cursor: pointer;
                }
            }
        }
        &_dranches {
            height: 100%;
            width: 100%;
            background: get-color(primary);
            margin: 0;
            grid-gap: 10px;
            padding: 50px;
            text-align: center;
            .container-fluid {
                width: 85%;
                .col-3 {
                    margin: 10px 0;
                }
            }
            &_branch {
                overflow: hidden;
                background-color: get-color(light);
                height: 400px;
                border-radius: 10px;
                transition: .4s;
                position: relative;
                &:hover {
                    transform: scale(1.02);
                    transition: .4s;
                }
                .branch-list-visible {
                    @include location(50%, 50%);
                    width: fit-content;
                    img {
                        width: 120px;
                        height: 120px;
                        margin-bottom: 50px;
                    }
                }
                .branch-hidden-list {
                    @include location(-60%, 145%);
                    width: 50%;
                    height: 50%;
                    background-color: get-color(primary);
                    z-index: 2;
                    border-radius: 0px 0px 200px 200px;
                    transition: .5s;
                    .detail {
                        @include location(79%, 20%);
                        color: get-color(light);
                    }
                    .section-detail {
                        color: get-color(light);
                        text-align: right;
                        padding: 5px 10px;
                        margin-top: -300%;
                        margin-right: -100%;
                        h4 {
                            font-size: 0.9em;
                            font-weight: 900;
                            margin-bottom: 1px;
                            margin-top: 5px;
                        }
                        p {
                            font-size: 0.9em;
                            margin-bottom: 0;
                        }
                    }
                    &:hover {
                        width: 100%;
                        border-radius: 0;
                        height: 100%;
                        transition: .5s;
                        .detail {
                            display: none;
                        }
                        .section-detail {
                            margin-top: 0%;
                            margin-right: 0%;
                            transition: .5s;
                            button {
                                background: get-color(primary);
                                color: get-color(light);
                                padding: 4px 0;
                                border-radius: 4px;
                                font-size: 20px;
                                border: 2px solid get-color(secondary-light);
                                box-shadow: 0px 5px 7px 5px #07182b;
                                font-weight: 400 !important;
                                text-decoration: none;
                                width: 127px;
                                height: 43px;
                                display: block;
                                cursor: pointer;
                                transform: scale(1);
                                margin: 25px auto;
                                transition: .2s;
                                &:hover {
                                    transform: scale(1.1);
                                    transition: .2s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
