.favorite-page {
    &_head {
        color: get-color(light);
        height: 500px;
        width: 100%;
        position: relative;
        &_overlay-black {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: #00000080;
            h1 {
                @include location(50%, 50%);
                text-align: center;
                width: fit-content;
                span {
                    color: get-color(red);
                }
            }
        }
    }
    &_center {
        width: 100%;
        text-align: center;
        &_top {
            width: 100%;
            padding: 40px 0 20px;
            h2 {
                color: get-color(dark);
                font-size: 35px;
                margin-bottom: 10px;
                span {
                    color: get-color(red);
                }
            }
            p {
                margin: auto;
                color: #999;
                max-width: 500px;
            }
        }
        &_cars {
            position: relative;
            display: flex;
            width: 80%;
            @media (max-width: 1367px) {
                width: 70%;
                @media (max-width: 1077px) {
                    width: 80%;
                    @media (max-width: 946px) {
                        width: 90%;
                    }
                }
            }
            margin: 40px auto 60px;
            justify-content: space-between;
            flex-wrap: wrap;
            &_car {
                width: 32%;
                padding: 0 20px;
                padding-bottom: 10px;
                border-radius: 6px;
                margin-bottom: 20px;
                border: 1px solid #ccc;
                transition: .4s;
                &:hover {
                    border-color: get-color(primary);
                    transform: scale(1.05);
                }
                @media (max-width: 836px) {
                    width: 49%;
                    @media (max-width: 580px) {
                        width: 99%;
                    }
                }
                &_img {
                    overflow: hidden;
                    width: 100%;
                    img {
                        width: 100%;
                        transition: .4s;
                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                }
                &_content {
                    width: 100%;
                    &_top {
                        display: flex;
                        margin-bottom: 15px;
                        div {
                            width: 50%;
                            h3 {
                                text-align: right;
                                color: #000;
                                width: 100%;
                                font-size: 20px;
                                margin-bottom: 2px;
                            }
                            p {
                                color: #999;
                                text-align: left;
                                font-size: 13px;
                                margin-bottom: 2px;
                            }
                            h1 {
                                color: get-color(red);
                                width: 100%;
                                text-align: left;
                                font-size: 20px;
                                font-weight: 600;
                                margin-bottom: 0;
                            }
                            s {
                                color: #999;
                                text-align: left;
                                font-size: 13px;
                                display: block;
                            }
                        }
                    }
                    &_bottom {
                        div {
                            width: 100%;
                            justify-content: space-between;
                            p:nth-child(1) {
                                color: #000;
                                margin-bottom: 0;
                            }
                            p {
                                width: 100%;
                                text-align: right;
                                color: #999;
                            }
                            button {
                                width: 80px;
                                height: 27px;
                                font-size: 14px;
                                border: none;
                                color: get-color(light);
                                cursor: pointer;
                            }
                            .booking {
                                float: right;
                            }
                            .removal {
                                background-color: get-color(red);
                                float: left;
                                transition: .4s;
                                box-shadow: 1px 1px 10px get-color(red);
                                &:hover {
                                    background-color: #eb2b15;
                                }
                            }
                        }
                        div:nth-child(1) {
                            margin-bottom: 25px;
                        }
                    }
                }
            }
        }
        &_empty {
            width: fit-content;
            margin: -75px auto 0;
            overflow: hidden;
            h1 {
                color: #3F4A86;
            }
            svg {
                height: 500px;
                width: 500px;
                @media (max-width: 499px) {
                    width: 100%;
                }
            }
        }
    }
}