.fleet-top-container {
    width: 75%;
    @include mediumScreen() {
        width: 100%;
    }
    background-color: white;
    margin: auto;
    #Favorite {
        background-color: #ccc;
        color: #999;
        &.active {
            background-color: get-color(error);
            color: get-color(light);
        }
    }
}

.fleet-filter-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000000;
    .toggeling-menue {
        height: 100vh;
        .d-flex {
            height: 100vh;
        }
        .white-section {
            background-color: white;
            width: 70%;
            height: 100vh;
            overflow: scroll;
            .filter-menu-heading {
                background-color: get-color(primary);
                color: get-color(light);
            }
            .slider-horizontal {
                width: 40%;
            }
            .slider-handle {
                color: get-color(primary);
                background-color: #4a5696 !important;
                background-image: none;
            }
            .fleet-category {
                .categories {
                    input {
                        display: none;
                    }
                    label {
                        background-color: get-color(light);
                        color: get-color(dark);
                        width: 100%;
                        height: 100%;
                        border-bottom: 1px solid get-color(gray);
                        margin-bottom: .0rem;
                        padding-bottom: .5rem;
                        padding-right: .5rem;
                        font-size: 1.5rem;
                        cursor: pointer;
                    }
                    input:checked~label {
                        background-color: get-color(primary);
                        color: get-color(light);
                        box-shadow: 2px 2px 3px #555454;
                    }
                }
                input {
                    width: 20px;
                }
            }
        }
        .cancel-toggle-menue {
            width: 30%;
            background-color: #19287a94;
        }
    }
}

.fleet-lower-container {
    .second-main-container {
        width: 75%;
        @include mediumScreen() {
            width: 100%;
        }
        .white-section {
            background-color: white;
            .category-menu-heading {
                background-color: get-color(primary);
                color: get-color(light);
            }
            .slider-horizontal {
                width: 40%;
                color: get-color(primary);
            }
            .categories {
                input {
                    display: none;
                }
                label {
                    background-color: get-color(light);
                    color: get-color(dark);
                    width: 100%;
                    height: 100%;
                    border-bottom: 1px solid get-color(gray);
                    margin-bottom: .0rem;
                    padding-bottom: .5rem;
                    padding-right: .5rem;
                    font-size: 1.5rem;
                    cursor: pointer;
                }
                input:checked~label {
                    background-color: get-color(primary);
                    color: get-color(light);
                    box-shadow: 2px 2px 3px #555454;
                }
            }
            .category-icons {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                div {
                    width: 49%;
                    padding-left: 0;
                    padding-right: 0;
                    margin-bottom: 5px;
                    input {
                        display: none;
                    }
                    label {
                        display: flex;
                        flex-direction: column;
                        cursor: pointer;
                        border: 1px solid #ccc;
                        text-align: center;
                        border-radius: 8px;
                        transition: 0.6s;
                        padding: 14px 0;
                        img {
                            margin: auto;
                            width: 55px;
                        }
                        &.active,
                        &:hover {
                            box-shadow: 2px 2px 3px #ccc;
                            transition: 0.6s;
                        }
                        &.active {
                            color: get-color(secondary);
                            font-weight: 900;
                            border-color: rgba(181, 33, 34, .86);
                        }
                    }
                }
            }
        }
    }
    .fleet-car-details {
        background-color: white;
        .fleet-car-name {
            font-size: 25px;
            @include smallScreen() {
                font-size: 20px;
            }
            span {
                font-weight: normal;
                line-height: 1;
                color: #777;
                font-size: 17px;
                @include smallScreen() {
                    font-size: 14px;
                }
            }
        }
        .fleet-car-model {
            color: red;
        }
        .fleet-doors-seats {
            font-size: 1.2rem;
        }
        .fleet-transmission-ac {
            font-weight: normal;
            line-height: 1;
            color: #777;
        }
        .fleet-category {
            color: red;
            font-weight: 700;
        }
        .fleet-pricing-section {
            font-size: 35px;
            i {
                font-size: 25px;
                color: #777;
            }
            .price2 {
                text-decoration: line-through;
                font-size: 25px;
                color: #777;
            }
        }
        .fleet-reservation-section {
            // border-bottom: #777 solid 1px;
            .addToFavorite {
                user-select: none;
                cursor: pointer;
            }
        }
    }
}

.select2-container--default {
    display: block;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.select2-container--default .select2-selection--single {
    border: none !important;
}

.addToFavorite {
    font-size: 20px;
    padding-right: 10px;
    color: #222;
    .fas {
        display: none;
    }
    i {
        cursor: pointer;
    }
}

.addToFavorite.active {
    font-weight: 700;
    color: #ff4934;
    .fas {
        display: inline;
    }
    .far {
        display: none;
    }
}

.fleet-car-img {
    img {
        &:hover {
            transform: scale(1.3);
            @include mediumScreen() {
                transform: none;
            }
        }
    }
}

div.slider-handle.max-slider-handle.round {
    background-image: none !important;
    background: rgb(25 40 122 / 79%) !important;
    cursor: pointer;
}

div.slider-handle.min-slider-handle.round {
    background-image: none !important;
    background: rgb(25 40 122 / 79%) !important;
    cursor: pointer;
}

.slider-selection {
    background-image: none !important;
    background-color: get-color(primary) !important;
}

.fleet-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.226);
    z-index: 100;
    &_center {
        @include location(20%, 50%);
        background-color: #fff;
        max-width: 800px;
        width: 98%;
        border-radius: 8px;
        box-shadow: 4px 9px 20px #00000061;
        overflow: hidden;
        &_cancel {
            @include location(0%, 100%);
            background-color: #1abc9c;
            color: #fff;
            padding: 1px 10px 1px;
            border-radius: 2px 0px 0 36px;
            cursor: pointer;
            z-index: 3;
            i {
                margin-left: 3px;
            }
            &:hover {
                background-color: red;
            }
        }
        &_text {
            width: 100%;
            padding: 40px;
            text-align: center;
            h2 {
                color: #222;
                font-weight: 500;
                margin-bottom: 50px;
                color: rgb(255, 30, 30);
                span {
                    border-bottom: 1px solid;
                    line-height: normal;
                }
            }
            &_definition {
                margin-top: 20px;
                width: 100%;
                color: #333;
                font-size: 20px;
            }
            button {
                display: block;
                margin: 40px auto 0;
                width: 140px;
                height: 40px;
            }
        }
    }
}