.fleet-top-container {
    width: 80%;
    background-color: white;
    margin: auto;
    #Favorite {
        background-color: get-color(gray);
        &.active {
            background-color: get-color(error);
            color: get-color(light);
        }
    }
}

.fleet-filter-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    .toggeling-menue {
        height: 100vh;
        .d-flex {
            height: 100vh;
        }
        .white-section {
            background-color: white;
            width: 70%;
            .filter-menu-heading {
                background-color: get-color(primary);
                color: get-color(light);
            }
            .slider-horizontal {
                width: 40%;
            }
            .fleet-category {
                .categories {
                    input {
                        display: none;
                    }
                    label {
                        background-color: get-color(light);
                        color: get-color(dark);
                        width: 100%;
                        height: 100%;
                        border-bottom: 1px solid get-color(gray);
                        margin-bottom: .0rem;
                        padding-bottom: .5rem;
                        padding-right: .5rem;
                        font-size: 1.5rem;
                        cursor: pointer;
                    }
                    input:checked~label {
                        background-color: get-color(primary);
                        color: get-color(light);
                        box-shadow: 2px 2px 3px #555454;
                    }
                }
                input {
                    width: 20px;
                }
            }
        }
        .cancel-toggle-menue {
            width: 30%;
            background-color: #19287a94;
        }
    }
}

.fleet-lower-container {
    .white-section {
        background-color: white;
        .category-menu-heading {
            background-color: get-color(primary);
            color: get-color(light);
        }
        .slider-horizontal {
            width: 40%;
        }
        .categories {
            input {
                display: none;
            }
            label {
                background-color: get-color(light);
                color: get-color(dark);
                width: 100%;
                height: 100%;
                border-bottom: 1px solid get-color(gray);
                margin-bottom: .0rem;
                padding-bottom: .5rem;
                padding-right: .5rem;
                font-size: 1.5rem;
                cursor: pointer;
            }
            input:checked~label {
                background-color: get-color(primary);
                color: get-color(light);
                box-shadow: 2px 2px 3px #555454;
            }
        }
    }
}
