.fleet-top-container {
    width: 80%;
    background-color: white;
    margin: auto;
    #Favorite {
        background-color: #ccc;
        color: #999;
        &.active {
            background-color: get-color(error);
            color: get-color(light);
        }
    }
}

.fleet-filter-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    .toggeling-menue {
        height: 100vh;
        .d-flex {
            height: 100vh;
        }
        .white-section {
            background-color: white;
            width: 70%;
            .filter-menu-heading {
                background-color: get-color(primary);
                color: get-color(light);
            }
            .slider-horizontal {
                width: 40%;
            }
            .fleet-category {
                .categories {
                    input {
                        display: none;
                    }
                    label {
                        background-color: get-color(light);
                        color: get-color(dark);
                        width: 100%;
                        height: 100%;
                        border-bottom: 1px solid get-color(gray);
                        margin-bottom: .0rem;
                        padding-bottom: .5rem;
                        padding-right: .5rem;
                        font-size: 1.5rem;
                        cursor: pointer;
                    }
                    input:checked~label {
                        background-color: get-color(primary);
                        color: get-color(light);
                        box-shadow: 2px 2px 3px #555454;
                    }
                }
                input {
                    width: 20px;
                }
            }
        }
        .cancel-toggle-menue {
            width: 30%;
            background-color: #19287a94;
        }
    }
}

.fleet-lower-container {
    .second-main-container {
        width: 80%;
        .white-section {
            background-color: white;
            .category-menu-heading {
                background-color: get-color(primary);
                color: get-color(light);
            }
            .slider-horizontal {
                width: 40%;
            }
            .categories {
                input {
                    display: none;
                }
                label {
                    background-color: get-color(light);
                    color: get-color(dark);
                    width: 100%;
                    height: 100%;
                    border-bottom: 1px solid get-color(gray);
                    margin-bottom: .0rem;
                    padding-bottom: .5rem;
                    padding-right: .5rem;
                    font-size: 1.5rem;
                    cursor: pointer;
                }
                input:checked~label {
                    background-color: get-color(primary);
                    color: get-color(light);
                    box-shadow: 2px 2px 3px #555454;
                }
            }
        }
    }
    .fleet-car-details {
        background-color: white;
        .fleet-car-name {
            font-size: 25px;
            span {
                font-weight: normal;
                line-height: 1;
                color: #777;
                font-size: 17px;
            }
        }
        .fleet-car-model {
            color: red;
        }
        .fleet-doors-seats {
            font-size: 1.2rem;
        }
        .fleet-transmission-ac {
            font-weight: normal;
            line-height: 1;
            color: #777;
        }
        .fleet-category {
            color: red;
            font-weight: 700;
        }
        .fleet-pricing-section {
            font-size: 35px;
            .price2 {
                text-decoration: line-through;
                font-size: 25px;
                color: #777;
            }
        }
        .fleet-reservation-section {
            border-top: #777 solid 1px;
            .addToFavorite {
                float: right;
                user-select: none;
                cursor: pointer;
            }
        }
    }
}

.select2-container--default {
    display: block;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.select2-container--default .select2-selection--single {
    border: none !important;
}

.addToFavorite {
    font-size: 20px;
    padding-right: 30px;
    color: #222;
    .fas {
        display: none;
    }
    i {
        font-size: 30px;
        position: absolute;
        right: 0;
    }
}

.addToFavorite.active {
    font-weight: 900;
    color: red;
    .fas {
        display: block;
    }
    .far {
        display: none;
    }
}