.loader {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 1000000;
    .lds-facebook {
        display: inline-block;
        @include location(50%, 50%);
        width: 80px;
        height: 80px;
        z-index: 11111111111111111111;
    }
    .lds-facebook div {
        display: inline-block;
        position: absolute;
        background: linear-gradient(to right, #f80021 0%, #f80000 100%);
        left: 8px;
        width: 15px;
        transition: .8s;
        background-size: 200%;
        border-radius: 50%;
        animation: loader 3s ease infinite alternate, lds-facebook 0.5s ease infinite alternate;
    }
    .lds-facebook div:nth-child(1) {
        left: 8px;
        animation-delay: -0.36s;
    }
    .lds-facebook div:nth-child(2) {
        left: 32px;
        animation-delay: -0.24s;
    }
    .lds-facebook div:nth-child(3) {
        left: 56px;
        animation-delay: -0.12s;
    }
    .lds-facebook div:nth-child(4) {
        left: 76px;
        animation-delay: -0.06s;
    }
    .lds-facebook div:nth-child(5) {
        left: 96px;
        animation-delay: 0s;
    }
    @keyframes loader {
        0% {
            background-position: right;
        }
        100% {
            background-position: left;
        }
    }
    @keyframes lds-facebook {
        0% {
            top: 8px;
            height: 100px;
        }
        50%,
        100% {
            top: 24px;
            height: 50px;
        }
    }
    @keyframes animation-loder {
        from {
            width: 50%;
        }
        to {
            width: 0%;
        }
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background: get-color(light);
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100vh;
        background: get-color(light);
    }
}

.loader.active {
    &::after {
        animation: animation-loder 3s ease forwards;
    }
    &::before {
        animation: animation-loder 3s ease forwards;
    }
}