.membership-cards-page {
    &_head {
        color: get-color(light);
        height: 500px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &center {
        padding: 10px 0;
        .card {
            width: 100%;
        }
    }
}