.points-program-page {
    &_head {
        color: get-color(light);
        height: 340px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_center {
        .container {
            width: 100%;
            max-width: 80%;
            @include smallScreen() {
                max-width: 100%;
                width: 100%;
            }
        }
        h4 {
            border-bottom: 4px solid black;
            color: get-color(primary);
            line-height: 10px;
            width: fit-content;
            font-weight: 700;
        }
        ul {
            list-style: disc;
        }
    }
}