.points-program-page {
    &_head {
        color: get-color(light);
        height: 500px;
        width: 100%;
        position: relative;
        h1 {
            @include location(50%, 50%);
        }
    }
}
