.user-profile {
    padding: 8rem 0 5rem;
    .user-profile__left {
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 30px;
        padding: 2rem 0;
        margin-bottom: 2rem;
        .user-profile__left__head {
            display: flex;
            justify-content: center;
            padding-bottom: 1.3rem;
            .user-profile__left__head__icon {
                display: flex;
                align-items: center;
                color: get-color(dark);
                font-size: 30px;
            }
            .user-profile__left__head__details {
                @include padding($left: 10px);
                display: flex;
                flex-direction: column;
                span {
                    font-weight: bold;
                    text-transform: capitalize;
                    font-family: 'Tahoma';
                    &:nth-of-type(1) {
                        color: get-color(dark);
                        font-size: 15px;
                    }
                    &:nth-of-type(2) {
                        color: #09539D;
                        font-size: 13px;
                    }
                }
            }
        }
        .user-profile__left__cat {
            ul {
                padding: 0 10px;
                li {
                    padding: 5px 0;
                    a {
                        padding: 8px 10px;
                        display: block;
                        width: 100%;
                        color: get-color(dark);
                        font-family: 'Tahoma';
                        font-weight: bold;
                        text-transform: capitalize;
                        border: 1px solid get-color(border);
                        border-radius: 10px;
                        border-#{$start}: 8px solid get-color(secondary);
                        text-align: center;
                        font-size: 15px;
                        transition: .5s;
                        &.active {
                            color: get-color(secondary);
                        }
                        &:hover {
                            text-decoration: none;
                            color: get-color(secondary);
                            transition: .5s;
                        }
                    }
                }
            }
        }
    }
    .user-profile__right {
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 30px;
        padding: .5rem 0;
        @include smallScreen {
            padding: .5rem 2rem;
        }
        .user-profile__right__head {
            color: get-color(dark);
            padding: 1rem 0;
            font-family: 'Tahoma';
            font-weight: bold;
            font-size: 20px;
            text-transform: capitalize;
            @include smallScreen {
                font-size: 25px;
            }
            &.contain-border {
                border-top: 1px solid #ddd;
            }
        }
        .user-profile__right__details {
            ul {
                padding-bottom: 1.2rem;
                li {
                    padding: 3px 0;
                    span {
                        &:nth-of-type(1) {
                            color: get-color(dark);
                            font-family: 'Tahoma';
                            font-weight: bold;
                            text-transform: capitalize;
                            min-width: 120px;
                            display: inline-block;
                            font-size: 14px;
                        }
                        &:nth-of-type(2) {
                            color: get-color(dark);
                            font-family: 'Tahoma';
                            font-weight: bold;
                            text-transform: capitalize;
                            font-size: 14px;
                        }
                    }
                    textarea {
                        width: 100%;
                        resize: none;
                        height: 100px;
                        margin-top: 1rem;
                        border: 1px solid get-color(dark);
                    }
                }
            }
            .user-profile__right__details__right {
                height: 100%;
                padding: .3rem 0 1rem;
                button {
                    color: get-color(light);
                    background: get-color(dark);
                    padding: 8px 30px;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-family: 'Tahoma';
                    width: 100%;
                    cursor: pointer;
                    @include mediumScreen {
                        width: auto;
                    }
                }
            }
            .edit-user,
            .edit-address {
                span {
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 15px;
                    input {
                        border: none;
                        border: 1px solid get-color(dark);
                        padding: 7px 15px;
                        display: inline-block;
                        &:focus {
                            outline: none;
                        }
                        &::placeholder {
                            color: get-color(dark);
                            text-transform: capitalize;
                            font-family: 'sitka';
                            font-weight: bold;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

.profile-page {
    .modify-data {
        margin: auto;
        a:not([href]):not([tabindex]) {
            color: get-color(light);
            &:hover {
                color: get-color(primary)
            }
        }
    }
    .profile-img {
        position: relative;
        overflow: hidden;
        width: 188px;
        height: 183px;
        border-radius: 50%;
        margin: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: #fff;
            background-color: #000;
            opacity: 0.75;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 32px;
            cursor: pointer;
        }
        div.active {
            opacity: 0;
            &:hover {
                opacity: 0.75;
            }
        }
    }
}

#update-profile {
    #img {
        text-align: center;
        .container {
            height: fit-content;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 5px;
            .wrapper {
                position: relative;
                height: 200px;
                width: 49.5%;
                margin-bottom: 10px;
                border-radius: 10px;
                background-color: #f7f7f7;
                border: 2px dashed #c2cdda;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                .div-hidden {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: #0000;
                    z-index: 1000;
                }
                .image {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        // display: none;
                    }
                }
                .icon {
                    font-size: 100px;
                    color: #345998;
                }
                .text {
                    font-size: 20px;
                    font-weight: 500;
                    color: #5B5B7B;
                }
                .cancel-btn {
                    position: absolute;
                    right: 15px;
                    top: 5px;
                    font-size: 20px;
                    cursor: pointer;
                    color: #345998;
                    text-shadow: 0px 0px 0px #fff;
                    opacity: 0;
                    display: block;
                    // display: none;
                }
                .file-name {
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    color: #fff;
                    padding: 8px 0;
                    font-size: 18px;
                    opacity: 0;
                    display: block;
                    background: #345998;
                    // display: none;
                }
                &:hover {
                    .file-name {
                        opacity: 1;
                    }
                    .cancel-btn {
                        opacity: 1;
                        z-index: 10000;
                    }
                }
                .image-projection {
                    content: "";
                    background: #345998;
                    width: 0%;
                    height: 0%;
                    border-radius: 50% 50% 0 0;
                    bottom: 0;
                    position: absolute;
                    margin: 0;
                }
                .image-projection.show {
                    width: 100%;
                    height: 100%;
                    border-radius: 0% 0% 0 0;
                    animation: update-profile-show 0.5s;
                }
                .image-projection.hide {
                    width: 0%;
                    height: 0%;
                    border-radius: 50% 50% 0 0;
                    animation: update-profile-hide 0.5s;
                }
            }
            .wrapper.image-projection {
                border: none;
                transition: .5s;
                .content {
                    z-index: 1;
                    .icon {
                        color: #fff;
                        transition: .5s;
                    }
                    .text {
                        color: #fff;
                        transition: .5s;
                    }
                }
            }
        }
    }
}

@keyframes update-profile-show {
    0% {
        width: 0%;
        height: 0%;
        border-radius: 50% 50% 0 0;
    }
    100% {
        width: 100%;
        height: 100%;
        border-radius: 0% 0% 0 0;
    }
}

@keyframes update-profile-hide {
    0% {
        width: 100%;
        height: 100%;
        border-radius: 0% 0% 0 0;
    }
    100% {
        width: 0%;
        height: 0%;
        border-radius: 50% 50% 0 0;
    }
}
