.register {
    .register-background {
        background-image: url(../../../imgs/BackgroundH45635.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .heading {
            background-color: rgb(25 40 122 / 91%);
            color: get-color(light);
        }
        .content {
            background-color: rgb(25 40 122 / 56%);
            color: get-color(light);
        }
    }
}