.services-page {
    background-color: #f2f2f2;
    .container {
        .row {
            background-color: white;
            webkit-box-shadow: 0 0 4px 0 rgb(0 0 0 / 20%);
            box-shadow: 0 0 4px 0 rgb(0 0 0 / 20%);
            padding: 35px 50px;
            border-radius: 7px;
            h2 {
                color: get-color(primary);
            }
            ul {
                li {
                    font-size: 25px;
                    color: get-color(primary);
                }
            }
        }
    }
}