.about-company {
    &_head {
        color: get-color(light);
        height: 340px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            text-align: center;
        }
    }
    &_center {
        direction: rtl;
        width: 100%;
        height: 100%;
        background-color: #fff;
        overflow: hidden;
        &_content {
            display: flex;
            flex-wrap: wrap;
            width: 80%;
            margin: 30px auto;
            border-radius: 8px;
            padding: 10px 0;
            background-color: #ebebeb;
            box-shadow: 2px 2px 3px #ccc;
            &_right {
                width: 50%;
                @media (max-width: 873px) {
                    height: fit-content;
                    width: 100%;
                    margin-bottom: 20px;
                }
                padding: 0 10px;
                &_text {
                    width: 100%;
                    position: relative;
                    height: 40%;
                    @media (max-width: 440px) {
                        height: fit-content;
                        padding-bottom: 10px;
                    }
                    padding: 0rem 0 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p {
                        text-align: right;
                        width: 100%;
                        font-size: 22px;
                        color: #222;
                        padding: 0 20px;
                        margin: 0;
                    }
                }
                &_img {
                    height: 60%;
                    width: 100%;
                    img {
                        border-radius: 4px;
                        width: 100%;
                        max-height: 100%;
                    }
                }
            }
            &_left {
                width: 50%;
                @media (max-width: 873px) {
                    width: 100%;
                }
                padding: 0 10px;
                &_img {
                    width: 100%;
                    height: fit-content;
                    img {
                        border-radius: 4px;
                        width: 100%;
                        max-height: 100%;
                    }
                }
                &_text {
                    width: 100%;
                    height: 50%;
                    &_informations {
                        width: 100%;
                        margin-top: 5px;
                        h5 {
                            background: rgb(245, 244, 244);
                            transition: .2s;
                            width: 100%;
                            color: red;
                            border-right: 1px solid;
                            padding: 5px 15px;
                            border: 1px solid #d1d0d0;
                            font-size: 22px;
                            cursor: pointer;
                            text-align: right;
                            &:hover {
                                background-color: #fff;
                                transition: .2s;
                            }
                        }
                        p {
                            width: 100%;
                            border: 1px solid #d1d0d0;
                            border-top: none;
                            background-color: #ebebeb;
                            text-align: right;
                            padding: 5px 15px;
                            font-size: 18px;
                            color: #555;
                            display: block;
                        }
                    }
                    &_informations:nth-child(3) {
                        margin-top: 10px;
                        p {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
