.contracts-page {
    .contract-heading {
        width: fit-content;
        transform: translateY(50%);
        box-shadow: 1px 1px 5px black;
        border-radius: 10px;
        padding: 5px 30px;
        background-color: #5d6895;
        font-size: 20px;
        z-index: 1;
        color: white;
        span {
            padding-right: 10px;
        }
    }
    .contract-content {
        background-color: #efefef87;
        border-radius: 40px;
        box-shadow: 1px 1px 5px;
        overflow: hidden;
        p {
            font-size: 20px;
        }
    }
    .nav-pills {
        .nav-link {
            color: get-color(primary);
            cursor: pointer;
            &.active {
                background-color: get-color(primary);
                color: get-color(light);
            }
            &:not(.active) {
                &:hover {
                    background-color: get-color(primary);
                    color: get-color(light);
                    opacity: 0.6;
                }
            }
        }
    }
}