$colors: ( primary:#19287a,
 primary-light: #4C0ACC,
 primary-light-gradient: linear-gradient(91deg,#0d157b 15%,#056cd5 121%),
 secondary-light: #056cd5,
 secondary: #FFA602,
 light: #ffffff,
 error: #FF4934,
 light-error: #BA2D92,
 dark: #000000,
 text: #707070,
 border: #FFFFFF66,
 gray: #e5e5e5,
 );