.social-media-links {
    position: fixed;
    top: 350px;
    #{$start}: 0;
    z-index: 5;
    a {
        box-shadow: 10px 10px 10px #00000029;
        background: get-color(light);
        display: block;
        width: 40px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: get-color(primary) !important;
        font-size: 1.3rem;
        border-bottom: 1px solid get-color(text);
        transition: .5s;
        .fa-whatsapp {
            font-weight: 900;
        }
        &:hover {
            color: get-color(light) !important;
            background: get-color(primary);
            transition: .5s;
            width: 60px;
        }
        &:nth-of-type(1) {
            border-top-#{$end}-radius: 10px;
            border-top-#{$start}-radius: 10px;
        }
        &:nth-last-of-type(1) {
            border-bottom-#{$end}-radius: 10px;
            border-bottom-#{$start}-radius: 10px;
            border-bottom: none;
        }
    }
}
