@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Cairo', sans-serif;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

button {
    border: none;
    outline: none;
    background: none;
    &:focus {
        outline: none;
    }
    font-family: 'Cairo',
    sans-serif !important;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-prev,
.slick-next {
    z-index: 3;
}

input,
textarea {
    outline: none;
    border: none;
    background: none;
}
