.loader {
    margin: 18px auto;
    top: 65px;
    left: 65px;
    right: 0;
    width: 100px;
    height: 100px;
    position: relative;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.loader.animation-start .circle {
    -webkit-animation: rotating 2s ease-in-out infinite;
    animation: rotating 2s ease-in-out infinite
}

.loader.animation-stop .circle {
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1
}

.loader .circle {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-iteration-count: 0;
    animation-iteration-count: 0
}

.loader .circle:after {
    content: '';
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #1abc9c
}

.loader .circle.delay-1 {
    -webkit-animation-delay: 0.125s;
    animation-delay: 0.125s
}

.loader .circle.size-1:after {
    width: 11px;
    height: 11px
}

.loader .circle.delay-2 {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s
}

.loader .circle.size-2:after {
    width: 12px;
    height: 12px
}

.loader .circle.delay-3 {
    -webkit-animation-delay: 0.375s;
    animation-delay: 0.375s
}

.loader .circle.size-3:after {
    width: 13px;
    height: 13px
}

.loader .circle.delay-4 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s
}

.loader .circle.size-4:after {
    width: 14px;
    height: 14px
}

.loader .circle.delay-5 {
    -webkit-animation-delay: 0.625s;
    animation-delay: 0.625s
}

.loader .circle.size-5:after {
    width: 15px;
    height: 15px
}

.loader .circle.delay-6 {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s
}

.loader .circle.size-6:after {
    width: 16px;
    height: 16px
}

.loader .circle.delay-7 {
    -webkit-animation-delay: 0.875s;
    animation-delay: 0.875s
}

.loader .circle.size-7:after {
    width: 17px;
    height: 17px
}

.loader .circle.delay-8 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}

.loader .circle.size-8:after {
    width: 18px;
    height: 18px
}

.loader .circle.delay-9 {
    -webkit-animation-delay: 1.125s;
    animation-delay: 1.125s
}

.loader .circle.size-9:after {
    width: 19px;
    height: 19px
}

.loader .circle.delay-10 {
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s
}

.loader .circle.size-10:after {
    width: 20px;
    height: 20px
}

.loader .circle.delay-11 {
    -webkit-animation-delay: 1.375s;
    animation-delay: 1.375s
}

.loader .circle.size-11:after {
    width: 21px;
    height: 21px
}

.loader .circle.delay-12 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s
}

.loader .circle.size-12:after {
    width: 22px;
    height: 22px
}

@-webkit-keyframes rotating {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotating {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.loader-primary {
    background-color: #01a9ac !important
}

.loader-warning {
    background-color: #fe9365 !important
}

.loader-default {
    background-color: #e0e0e0 !important
}

.loader-danger {
    background-color: #fe5d70 !important
}

.loader-success {
    background-color: #0ac282 !important
}

.loader-inverse {
    background-color: #404E67 !important
}

.loader-info {
    background-color: #2DCEE3 !important
}

.loader-block,
.loader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

@keyframes rotateColor {
    0% {
        border-top-color: #1abc9c
    }
    12.5% {
        border-bottom-color: rgba(26, 188, 156, 0.8)
    }
    25% {
        border-bottom-color: rgba(26, 188, 156, 0.6)
    }
    37.5% {
        border-bottom-color: rgba(26, 188, 156, 0.4)
    }
    50% {
        border-bottom-color: rgba(26, 188, 156, 0.6)
    }
    50.00001% {
        border-bottom-color: #1abc9c
    }
    62.5% {
        border-bottom-color: rgba(26, 188, 156, 0.8)
    }
    75% {
        border-bottom-color: rgba(26, 188, 156, 0.6)
    }
    87.5% {
        border-bottom-color: rgba(26, 188, 156, 0.4)
    }
}