/*==========
    Import abstract files
==========*/

@import 'sass/abstract/variables';
@import 'sass/abstract/mixins';
@import 'sass/abstract/functions';
@import 'sass/abstract/placeholders';

/*==========
    Import base files
==========*/

@import 'sass/base/typegraphy';
@import 'sass/base/animations';
@import 'sass/base/base';
@import 'sass/base/reset';

/*==========
    Import components files
==========*/

@import 'sass/components/buttons';
@import 'sass/components/head';
// @import 'sass/components/dropdown';
// @import 'sass/components/sidebar';
// @import 'sass/components/slick-dots';
// @import 'sass/components/modal';
// @import 'sass/components/preload';
// @import 'sass/components/contact-us';
// @import 'sass/components/search-box';
@import 'sass/components/social-media';
// @import 'sass/components/add-comment';
// @import 'sass/components/custom-header';

/*==========
    Import layout files
==========*/

@import 'sass/layout/navbar';
@import 'sass/layout/master';
@import 'sass/layout/footer';
@import 'sass/layout/zopim';

/*==========
    Import pages files
==========*/

@import 'sass/pages/home';
@import 'sass/pages/fleet';
@import 'sass/pages/branch';
@import 'sass/pages/media_center';
@import 'sass/pages/car_sales';
@import 'sass/pages/services';
@import 'sass/pages/points_program';
@import 'sass/pages/membership_cards';
@import 'sass/pages/booking-steps-all';
@import 'sass/pages/booking-steps-1';
@import 'sass/pages/booking-steps-2';
@import 'sass/pages/booking-steps-3';
@import 'sass/pages/booking-steps-4';
@import 'sass/pages/favorite';
@import 'sass/pages/loader';
@import 'sass/pages/recruitment';
@import 'sass/pages/car-interior';
// @import 'sass/pages/register-login';
@import 'sass/pages/register-login';
// @import 'sass/pages/services';
// @import 'sass/pages/portfolio';
// @import 'sass/pages/contact';
// @import 'sass/pages/search';
// @import 'sass/pages/profile';
