$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?a5f0041731b3a047c15acf16cac83e8f") format("truetype"),
url("./flaticon.woff?a5f0041731b3a047c15acf16cac83e8f") format("woff"),
url("./flaticon.woff2?a5f0041731b3a047c15acf16cac83e8f") format("woff2"),
url("./flaticon.eot?a5f0041731b3a047c15acf16cac83e8f#iefix") format("embedded-opentype"),
url("./flaticon.svg?a5f0041731b3a047c15acf16cac83e8f#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "car": "\f101",
    "car-1": "\f102",
    "pickup-truck": "\f103",
    "family-car": "\f104",
    "supercar": "\f105",
    "car-2": "\f106",
    "information": "\f107",
    "driving": "\f108",
);

.flaticon-car:before {
    content: map-get($flaticon-map, "car");
}
.flaticon-car-1:before {
    content: map-get($flaticon-map, "car-1");
}
.flaticon-pickup-truck:before {
    content: map-get($flaticon-map, "pickup-truck");
}
.flaticon-family-car:before {
    content: map-get($flaticon-map, "family-car");
}
.flaticon-supercar:before {
    content: map-get($flaticon-map, "supercar");
}
.flaticon-car-2:before {
    content: map-get($flaticon-map, "car-2");
}
.flaticon-information:before {
    content: map-get($flaticon-map, "information");
}
.flaticon-driving:before {
    content: map-get($flaticon-map, "driving");
}
